//
//    Elements mappings - color definition
//

$headers: $grey;
$a: $grey;

$aInfoPurchaseBg: $customDark;
$aInfoPurchaseManual: $customDark;
$aInfoPurchaseHoverBg: $customDarker;

$body: $greyLighter4;
$bodyBg: $pageBg;

$headerBg: $headerDark;

//// Buttons ////
$btn: $white;

$btnPrimary: $customYellow;
$btnPrimaryBg: $customDark;
$btnPrimaryBgHover: $customDarker;

$btnSecondary: $customYellow;
$btnSecondaryBg: $customDark;
$btnSecondaryBgHover: $customDarker;

$btnTertiary: $customYellow;
$btnTertiaryBg: $customDark;
$btnTertiaryBgHover: $customDarker;

$btnDefault: $customRed;
$btnDefaultBg: $white;
$btnDefaultHover: $white;
$btnDefaultBgHover: none;
$btnDefaultBorder: $trans;
$btnDefaultBorderHover: $white;

$btnSignUp: $customDark;
$btnSignUpBg: $customYellow;
$btnSignUpHover: $customDark;
$btnSignUpBgHover: $customYellowDarker;

$btnLoginBg: $customRed;
$btnLogin: $white;
$btnLoginHover: $white;
$btnLoginBgHover: $customRedDarker;

$btnDepositBg: $customYellow;
$btnDeposit: $customDark;
$btnDepositHover: $customDark;
$btnDepositBgHover: $customYellowDarker;

//* WOCF7 *//
$inSub: $customYellow;
$inSubBg: $customDark;
$inSubHover: $customYellow;
$inSubBgHover: $customDarker;

$inOther: $grey3;
$inOtherBg: $greyBg;
$inOtherBorder: $greyBg;

$inOtherFocus: $grey4;
$inOtherBgFocus: $white;
$inOtherBorderFocus: $greyBg;

$inOtherNotValid: $redLight;
$inOtherBgNotValid: $white;
$inOtherBorderNotValid: $redLight;

$inOtherNotValidFocus: $redLight;
$inOtherBgNotValidFocus: $white;
$inOtherBorderNotValidFocus: $redLight;

//// DIV *//
$divHomeWidgetBg: $pageBg;

$divHomeWidgetBoxShadow: $customDarker;
$divHomeWidgetHoverBoxShadow: $customDarker;

$divUserInfoMenuContentBg: $customDarker;
$divUserInfoMenuContentBorder: $greyDark5;

$divUserInfoMenuContentItemBorderRight: $greyDark5;
$divUserInfoMenuContentItemBorderBottom: $greyDark5;

$divUserInfoSpan: $grey;

$divUserInfoSpanFa: $customRed;

$divUserInfoContainerALogout: $white;

$divUserInfoAreaBg: $customRed;
$divUserInfoAreaBorder: $greyDark5;

$divOrderInfoALinkBoxShadow: $grey8;
$divOrderInfoALinkHoverBoxShadow: $grey3;
$divOrderInfoALink: $black;
$divOrderInfoALinkSpan: $customDark;
$divOrderInfoALinkSpanBg: $customYellow;
$divOrderInfoDescSpan: $customYellow;

$divOrderInfoNotEmptyShadow: $customRed;
$divOrderInfoNotEmptyHoverShadow: $customRedDarker;

$divMenuWrapperA: $grey;
$divMenuWrapperAHover: $customRed;

$divContentBoxFAQAnswerBorder: $greyLight2;

$divInfoboxTitleA: $grey;

$divInfoboxLinksA: $grey;

$divInfoboxAmount: $customRed;

$divInfoboxDetailsBorder: $grey2;

$divAccountTicket: $grey;

$divHeaderTransaction: $grey;
$divHeaderWithdrawal: $grey;

//// SECTION ////
$secUserAreaBg: $customDarker;
$secUserAreaA: $white;
$secUserAreaAUserCircle: $customRed;
$secUserAreaAChevronDown: $customRed;
$secUserAreaAUserBalance: $customRed;

$secUserAreaActiveABg: $customDarker;
$secUserAreaActiveABorder: $customDarker;

$secUserAreaActiveA: $white;
$secUserAreaActiveAUserCircle: $customRed;
$secUserAreaActiveAChevronDown: $black;
$secUserAreaActiveAUserBalance: $customRed;

$secFAQNav: $grey;
$secFAQNavBg: $greyBg;
$secFAQNavBorder: $greyLight2;

$secFAQNavA: $grey;

$secFAQNavLiBorder: $greyLight2;

$secDivAnsBorder: $greyLight2;

$secH3Border: $greyLight2;

$secPageContentPagePA: $customRed;
$secPageContentPagePAHover: $customRedDarker;

//// NAV ////
$navPrimaryNavTopBorder: $greyDark;
$navPrimaryNavTopBg: $headerDark;
$navPrimaryDarkLiA: $white;

$navPrimaryDivLiA: $white;
$navPrimaryDivLiAHover: $customRed;

$navPrimaryDivLiHomeABorder: $greyDark;
$navPrimaryDivLiHomeA: $customRed;

$navPrimaryDivLiHomeAHoverBorder: $grey3;

$navPrimaryDivLiMobileHighA: $customRed;

$navContentLiActiveABg: $customDark;
$navContentLiActiveA: $customYellow;
$navContentLiActiveAHoverBg: $customDarker;

$navContentLiABg: $customYellow;
$navContentLiABgHover: $customDark;

$navPaginationNumbers: $greyLighter;
$navPaginationNumbersHover: $white;
$navPaginationNumbersBgHover: $customRedDarker;

$navPaginationCurrent: $white;
$navPaginationCurrentBg: $customRed;

$navPaginationCurrentBgHover: $customRedDarker;

//// FOOTER ////
$footerBg: $white;
$footerDivA: $grey;
$footerDivASpan: $greyDarker;

$footerNavFooterA: $customRed;

$footerNavSocialA: $customRed;
$footerNavSocialASpanBorderHover: $customRedDarker;
$footerNavSocialASpanBorder: $customRedDarker;

$footerLogoTypesBorder: $grey8;

//// TABLES ////
$tabTable: $grey3;
$tabTableTheadTrBg: $greyBg;
$tabTableTbodyTdBorder: $greyBg;

$tabTableTfootTrBg: $greyBg;

$tabTableHoverTrHoverTdBg: $greyAlmostWhite3;

$tabTableShortTrTh: $grey;

$tabTableShortTrTdLabel: $grey;
$tabTableShortTrTdSpan: $greyLighter;

$tabTableShortTheadTrBg: $greyBg;
$tabTableShortTheadTrThBorder: $white;

$tabTableShortTbodyTrBg: $greyBg;
$tabTableShortTbodyTrTdBorder: $white;

$tabTableDetailedTbodyTd: $grey3;

$tabTableDetailedPrizeAmount: $customRed;

$tabTableInfoJackpotInfoJackpotAmount: $customRed;

$tabTableOrderBorder: $grey2;

$tabTableOrderTbodyTdBorder: $grey2;

$tabTablePaymentTfootTrBg: $trans;
$tabTablePaymentTfootTrTdLOTBg: $trans;

$tabTablePaymentTbodyTrFOTTdBg: $grey2;
$tabTablePaymentTbodyTrTdBgHover: $trans;

$tabTableSuccessTbodyTrTdBorder: $grey2;

$tabTableResultsDetailedAmount: $customRed;

//// ARITICLE ////
$artNewsStrong: $grey;

$artTabTheadTrBg: $grey2;
$artTabTheadTrTdBorder: $grey2;

$artTabTbodyTrTdBorder: $grey2;

$artTabTfootTrBg: $greyAlmostWhite3;
$artTabTfootTrTdBorder: $grey2;

//// FORMS ////
$platformIn: $grey3;
$platformInBg: $greyBg;
$platformInBorder: $greyBg;

$platformInFocus: $grey4;
$platformInBgFocus: $white;
$platformInBorderFocus: $greyBg;

$platformDivErrorIn: $redLight;
$platformDivErrorInBg: $white;
$platformDivErrorInBorder: $redLight;

$platformDivErrorInFocus: $redLight;
$platformDivErrorInBorderFocus: $redLight;

$platformA: $customGrey;
$platformAHover: $customDarker;

//// PAYMENT ////
$payCcDivErrorIn: $redLight;
$payCcDivErrorInBg: $white;
$payCcDivErrorInBorder: $redLight;

$payCcDivErrorInFocus: $redLight;
$payCcDivErrorInBorderFocus: $redLight;

$payCcInFocus: $grey4;
$payCcInBgFocus: $white;
$payCcInBorderFocus: $greyLight;

$payMobileLabel: $grey;

$payNavTilte: $grey;

$payNavUlA: $grey3;
$payNavUlABg: $grey5;
$payNavUlABorder: $greyLight2;

$payNavUlASpan: $customRed;

//// DEPOSIT ////
$depositBorder: $greyLight3;
$depositBorderHover: $greyLight3;

$depositValueSpan: $customRed;

$depositFormBorder: $grey2;
$depositFormBorderHover: $grey2;
$depositFormLabel: $greyLighter;

$depositActive: $grey6;
$depositActiveBorder: $customGrey;

//// DIALOGS ////
$dialogTitle: $grey;
$dialogTitleBorder: $grey8;

$dialogContentBtnTertiary: $white;
$dialogContentBtnTertiaryBg: $customRed;
$dialogContentBtnTertiaryBgHover: $customRedDarker;

$dialogContentA: $customRed;
$dialogContentAHover: $customRedDarker;

$dialogContentABtnPrimary: $white;
$dialogContentABtnPrimaryBg: $customRed;
$dialogContentABtnPrimaryHover: $white;
$dialogContentABgBtnPrimaryHover: $customRedDarker;

$dialogCloseBorder: $grey;
$dialogCloseBgHover: $grey;

//// TABLES TH ////
$thSorterHeaderBgHover: $greyAlmostWhite4;

//// WIDGET ////
$widFeaWrapSmallBg: $trans;
$widFeaWrapSmallContentBg: $customRed;
$widFeaWrapSmallContentH2: $white;
$widFeaWrapSmallAmount: $white;
$widFeaWrapSmallInfoContainer: $white;

$widFeaContentBg: $customRedDarker;

$widFeaCountdownTime: $white;

$widLatestNewsTitle: $grey;

$widListContentTitle: $grey;
$widListContentGridTitle: $grey;
$widListContentNolottery: $customRedDarker;

$widListTicketHamount: $customRed;
$widListTicketHamountBorder: $grey2;

$widListTicketCount: $grey;
$widListTicketCountBefore: $greyLighter;

$widPendingText: $grey;

$widType2Text: $greyLighter;

$widTicketIconOk: $customGrey;

$widTicketButton: $customYellow;
$widTicketButtonBg: $customDark;
$widTicketButtonHoverBg: $customDarker;

$widTicketEntity: $grey3;

$widTicketEntityMobileBorder: $greyLight2;
$widTicketEntityMobileALine: $grey3;

$widTicketEntityCheckedBorder: $customGrey;

$widTicketEntityCheckedNumA: $grey3;
$widTicketEntityCheckedNumACheckedHover: $white !important;
$widTicketEntityCheckedNumACheckedBgHover: $customRedDarker;
$widTicketEntityCheckedNumACheckedBorderHover: $customRedDarker;

$widTicketEntityCheckedNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumA: $grey3;
$widTicketEntityCheckedBNumACheckedHover: $white !important;
$widTicketEntityCheckedBNumACheckedHoverBorder: $customRed;
$widTicketEntityCheckedBNumACheckedHoverBg: $customRed;

$widTicketEntityCheckedBNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumAHoverBg: $customRed;

$widTicketEntityCheckedHoverNum: $grey3;
$widTicketEntityCheckedHoverNumAChecked: $white;

$widTicketEntityCheckedHoverBNum: $grey3;
$widTicketEntityCheckedHoverBNumAChecked: $white;

$widTicketEntityNumCheckedACheHover: $white !important;
$widTicketEntityNumCheckedACheHoverBorder: $customGrey;
$widTicketEntityNumCheckedACheHoverBg: $customGrey;
$widTicketEntityNumCheckedAHover: $grey3 !important;
$widTicketEntityNumCheckedAHoverBg: $customGrey;
$widTicketEntityNumA: $white;
$widTicketEntityNumAChecked: $white;

$widTicketEntityBNumCheckedACheHover: $white !important;
$widTicketEntityBNumCheckedACheHoverBorder: $customRed;
$widTicketEntityBNumCheckedACheHoverBg: $customRed;
$widTicketEntityBNumCheckedAHover: $grey3 !important;
$widTicketEntityBNumCheckedAHoverBg: $customRed;
$widTicketEntityBNumAChecked: $white;

$widTicketEntityHoverNum: $grey3;
$widTicketEntityHoverNumAHover: $white;
$widTicketEntityHoverNumChe: $grey3;
$widTicketEntityHoverNumCheAChe: $white;

$widTicketEntityHoverBNum: $grey3;
$widTicketEntityHoverBNumAHover: $white;
$widTicketEntityHoverBNumChe: $grey3;
$widTicketEntityHoverBNumCheAChe: $white;

$widTicketNumAHoverBorder: $customGrey;
$widTicketNumAHoverBg: $customGrey;

$widTicketNumACheBorder: $customGrey;
$widTicketNumACheBg: $customGrey;
$widTicketNumACheHoverBorder: $customDarker;
$widTicketNumACheHoverBg: $customDarker;

$widTicketBNumAHoverBorder: $customRed;
$widTicketBNumAHoverBg: $customRed;

$widTicketBNumACheBorder: $customRed;
$widTicketBNumACheBg: $customRed;
$widTicketBNumACheHoverBorder: $customRedDarker;
$widTicketBNumACheHoverBg: $customRedDarker;

$widTicketSumContentHeader: $grey3;
$widTicketSumContentTotalValue: $grey3;

$widTicketSumButtonBg: $customDark;
$widTicketSumButtonHoverBg: $customDarker;

$widSmallDrawBg: $greyBg;

//// RESULTS ////
$resShortContentABg: $greyBg;
$resShortContentSelect: $grey3;
$resShortContentSelectBg: $greyBg;

$resShortJackpot: $grey;
$resShortJackpotSpan: $customRed;

$resMobileSort: $grey;

$resPayoutAmount: $customRed;

//// MY ACCOUNT ////
$myaccMobileNav: $grey3;
$myaccMobileNavBg: $grey2;

$myaccFilterSelect: $grey3;
$myaccFilterSelectBg: $greyBg;

$myaccTicketsMobileSort: $grey;

$myaccContentNavPagBg: $greyAlmostWhite5;

$myaccBalance: $grey;

$myaccBalanceSpan: $customRed;

$myaccTransLabel: $grey3;
$myaccTransValue: $grey3;

$myaccPersonalLinkA: inherit !important;

//// FAQ ////
$faqMobileCats: $grey3;
$faqMobileCatsBg: $grey2;

//// INFO ////
$infoMobileSort: $grey;

//// TICKETS ////
$ticketsDate: $greyLighter;

$ticketsLinesStrong: $grey3;

//// TICKET ////
$ticketLineNumBg: $customGrey;
$ticketLineNum: $white;

$ticketLineBNumBg: $customRed;
$ticketLineBNum: $white;

$ticketPrice: $grey3;

//// SMALL WIDGETS ////
$smallWidTitle: $grey;
$smallWidTitleBorder: $grey2;

$smallWidDrawBg: $greyBg;

$smallWidDrawTitleA: $grey;
$smallWidDrawAmount: $customRed;

$smallWidResH2A: $grey;
$smallWidResLineBorder: $grey5;

$smallWidSliderPageActive: $white;
$smallWidSliderPageActiveBg: $customRed;
$smallWidSliderPageActiveHover: $customRed;
$smallWidSliderPageActiveMarked: $customRed;

$smallWidSliderFillBg: $customRed;

$smallWidSliderHeader: $grey;

$smallWidWinAmount: $customRed;

$smallWidWinItemCompactBorder: $grey5;

$smallWidWinItemCompactName: $grey;

$smallWidWinItemCompactCountryBg: $greyLighter2;

$smallWidWinItemCompactAmountSpan: $customRed;

$smallWidWinItemCompactAmountH2A: $grey;

$smallWidsContentTextBg: $greyLight2;

$smallWidsContentTextH2TitleBg: $greyLight2;

$smallPurchaseBg: $customDark;
$smallPurchaseHoverBg: $customDarker;

$smallPurchaseSecondaryText: $customYellow;

//// REST ELEMENTS - almost always single ////

//// MOBILE ////
$mobMenuTrigger: $grey;

$mobCloseAreaBg: $greyVeryDark;
$mobCloseAreaBorder: $greyDark3;

$mobLangAreaSelect: $grey3;
$mobLangAreaSelectBg: $grey2;

//// SPAN ////
$spanFaSearch: $customGrey;
$spanFaSearchHover: $customDarker;

$spanFaRefresh: $customGrey;
$spanFaRefreshHover: $customDarker;
$spanFaRefreshADisabled: $grey2;

$spanFAQPlus: $customRed;

$spanFaPlus: $customRed;

$spanFaMinus: $customGrey;

$spanInfoPurchaseIconBg: $customDarker;
$spanInfoPurchaseIconDescSecText: $customYellow;

$selNewsCategories: $grey3;
$selNewsCategoriesBg: $grey2;

$conContentTabSpanFa: $customRed;

$conContentTabA: $customRed;
$conContentTabAHover: $customRedDarker;

$faqItemActiveMark: $greyLight2;

$payTypeMobileBg: $white;
$payTypeMobileBorder: $grey3;

$cvvInfoTooltipCloud: $greyLighter;

$playLotteryJackpotAmount: $customRed;

$orderLotteryQuickPickContainer: $grey3;

$trTransShadeTdNOT2: $grey3;

$successContent: $grey2;

$transactionsAmount: $customRed;

$transactionsStatusWin: $customRed;

//// TOOLTIP ////
$tooltipLocalAmount: $customRed;

//// MEDIA - here screen_max_w_1000 ////
$navPrimaryDivUlMenuLiA1000: $white;

$navPrimaryDivUlMenuLiMenuHighlightA1000: $customRedDarker;

$navPrimaryDivUlMenuLiMenuUserASpan1000: $customRed;
$navPrimaryDivUlMenuLiMenuUserASpanHover1000: $customRedDarker;

$navPrimaryDivUlMenuLiDivMobContainerBg1000: $greyVeryDark2;
$navPrimaryDivUlMenuLiDivMobContainerBorder1000: $greyDark3;

$navPrimaryDivUlMenuLiDivUlLiAHover1000: $customRed;

$navPrimaryDivUlMenuBg1000: $greyVeryDark;

$navPrimaryDivBg1000: $grey;

$tabTableHoverTbodyTrHoverTdBg1000: $trans;

$tabTableShortTbodyTrFOTTdBorder1000: $grey2;

$tabTableShortTbodyTrBg1000: $trans;
