/*
    Theme Name:     LottoBazar Theme
    Description:    LottoBazar whitelabel theme.
    Author:         WhiteLotto
    Text Domain:    lottobazar-theme
    Template:       base
    Version:        1.0.0
*/