@import '../../widgets-base/colors.scss';
@import '../../rwd';

.promo-widget-container {
  @extend .main-width !optional;
  z-index: 0;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;

  @include screen-md() {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include screen-xs() {
    margin: 0 0 10px 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .one-number-lotto {
    background: #c53f93;
  }
}

.promo-widget {
  $this: &;

  background: $raffle-banner-bg-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 3px;

  &__overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 10;
  }

  &__button {
    z-index: 10000;
    margin-left: 20px;
    .btn-xl {
      @include screen-md() {
        font-size: 1.4em;
        padding: 0 10px;
        line-height: 29px;
        height: auto;
      }
    }

    .one-number-lotto-button {
      color: #c53f93;
    }
  }

  @include screen-md() {
    padding: 10px 1px 20px 15px;
  }

  @include screen-xs() {
    border-radius: 0;
    padding: 10px 11px 20px 15px;
  }

  &__logo {
    margin-top: 15px;
    margin-right: 20px;

    img {
      max-height: 124px;
    }

    @include screen-md() {
      display: none;
    }
  }

  &__prize {
    display: inline-block;
    line-height: 30px;
    width: 100%;
    color: $button-text-color;

    &-item {
      font-size: 30px;

      .raffle-name {
        display: none;
      }

      @include screen-md() {
        font-size: 16px;
        margin: 10px 0 2px;

        .raffle-name {
          display: inline;
        }
      }

      @include screen-sm() {
        font-size: 14px;

        .main-prize {
          display: none;
        }
      }

      @include screen-xs() {
        font-size: 12px;
      }

      &-br {
        display: none;
        @include screen-sm() {
          display: inline;
        }
      }

      &--featured {
        @extend .play-lottery-jackpot-amount !optional;
        font-size: 3.75rem;
        padding: 0 0 15px 0;

        @include screen-md() {
          font-size: 1.85rem;
          padding: 0;
          margin-top: 5px;
        }

        @include screen-sm() {
          padding-top: 5px;
        }
      }

      &-text &-text__faireum,
      &-text &-text__monks {
        display: inline;
        line-height: 33px;

        @include screen-xs() {
          display: flex;
          flex-direction: column;
          padding: 0;
        }
      }

      &-text__faireum,
      &-text__monks {
        font-size: 30px;

        @include screen-md() {
          font-size: 10px;
        }
      }
    }
  }

  // ---------------------- "--small" ----------------------
  &--xs {
    #{$this}__logo {
      display: none;
    }

    #{$this}__prize {
      &-item {
        font-size: 15px;

        @include screen-md() {
          font-size: 10px;
        }

        &--featured {
          padding: 0;
          font-size: 30px;

          @include screen-md() {
            font-size: 25px;
          }
        }
      }
    }
  }
}
.promo-widget__prize-item {
  line-height: 0.95em;
  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }
}
