@import '../../widgets-base/colors.scss';
@import '../../rwd';

.lk-widget {
  border-radius: 5px;
  background: $orange;
  display: flex;
  width: 100%;

  .overflow {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 10;
  }

  .logo {
    width: auto;
    margin: 20px 20px 10px 30px;

    @include screen-md() {
      margin: 20px 20px 10px 15px;
    }

    img {
      max-height: 105px;
    }
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      color: white;
      line-height: 44px;
      font-size: 30px;
    }

    .button {
      padding-right: 30px;
    }

    @include screen-md() {
      flex-direction: column;

      .text {
        width: 100%;
      }

      .text-featured {
        font-size: 2rem;
        font-weight: 800;
      }

      .text-regular {
        padding-top: 5px;
        line-height: 22px;
        font-size: 16px;
      }

      .button {
        margin: 1rem;
        width: 100%;

        .btn {
          width: 100%;
          text-align: center;
          color: $orange;
        }
      }
    }
  }

  .text-featured {
    font-size: 3rem;
    font-weight: bold;
  }
}
