@import '../../widgets-base/colors.scss';
@import '../../rwd';

.prize-widget-container {
  position: relative;
  text-align: center;
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
  margin: 0 0 20px auto;

  .pool-label {
    padding: 5px;
    font-size: 12px;

    > div {
      background: $default-bg-color;
      position: relative;
      max-width: 50%;
      color: white;
      font-weight: bold;
      margin-left: auto;
      padding: 5px;
      border-radius: 5px;
    }
  }

  & > .prize-widget-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    & > .btn {
      position: relative;
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      background: none;
      color: $button-bg-color;
      border: 1px solid $button-bg-color;
      font-size: 16px;

      &:hover {
        background: $button-bg-color;
        color: white;
      }
    }
  }
}

.pool-article {
  display: none;
  text-align: justify;
  overflow-y: scroll;
  max-height: 300px;
  margin-bottom: 20px;
  padding-right: 10px;
  > p {
    margin: 0 0 10px 0;
    margin-block-start: 0;
  }
}
