/*
  Theme Name:     LuminariaGames Theme
  Description:    LuminariaGames whitelabel theme.
  Author:         WhiteLotto
  Text Domain:	  luminariagames-theme
  Template:		    base
  Version:        1.0.0
*/