/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin-ext');*/

input, select, textarea
{
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.btn
{
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.wpcf7-form input[type="submit"]
{
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body
{
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.tooltip-cloud
{
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}