//
//    Elements mappings - color definition
//

$headers: $grey;
$a: $grey;

$aInfoPurchaseBg: $blue;
$aInfoPurchaseManual: $blue;
$aInfoPurchaseHoverBg: $blueDarker;

$body: $greyLighter4;
$bodyBg: $white;

$headerBg: $white;

//// Buttons ////
$btn: $white;

$btnPrimary: $white;
$btnPrimaryBg: $blue;
$btnPrimaryBgHover: $blueDarker;

$btnSecondary: $white;
$btnSecondaryBg: $blue;
$btnSecondaryBgHover: $blueDarker;

$btnTertiary: $white;
$btnTertiaryBg: $orange;
$btnTertiaryBgHover: $orangeDarker;

$btnDefault: $blue;
$btnDefaultBg: $white;
$btnDefaultHover: $white;
$btnDefaultBgHover: none;
$btnDefaultBorder: $trans;
$btnDefaultBorderHover: $white;

$btnSignUp: $white;
$btnSignUpBg: $orange;
$btnSignUpHover: $white;
$btnSignUpBgHover: $orangeDarker;

//* WOCF7 *//
$inSub: $white;
$inSubBg: $blue;
$inSubHover: $white;
$inSubBgHover: $blueDarker;

$inOther: $grey3;
$inOtherBg: $grey2;
$inOtherBorder: $grey2;

$inOtherFocus: $grey4;
$inOtherBgFocus: $white;
$inOtherBorderFocus: $greyLight;

$inOtherNotValid: $redLight;
$inOtherBgNotValid: $white;
$inOtherBorderNotValid: $redLight;

$inOtherNotValidFocus: $redLight;
$inOtherBgNotValidFocus: $white;
$inOtherBorderNotValidFocus: $redLight;

//// DIV *//
$divHomeWidgetBg: $greyLighter3;

$divHomeWidgetBoxShadow: $grey7;
$divHomeWidgetHoverBoxShadow: $greyDark5;

$divUserInfoMenuContentBg: $white;

$divUserInfoMenuContentItemBorderRight: $grey7;
$divUserInfoMenuContentItemBorderBottom: $grey7;

$divUserInfoSpan: $grey;

$divUserInfoSpanFa: $blue;

$divUserInfoContainerALogout: $grey;

$divUserInfoAreaBg: $orange;
$divUserInfoAreaBorder: $orange;

$divOrderInfoALinkBoxShadow: $grey8;
$divOrderInfoALinkHoverBoxShadow: $greyDark5;
$divOrderInfoALink: $grey;
$divOrderInfoALinkSpan: $white;
$divOrderInfoALinkSpanBg: $orange;
$divOrderInfoDescSpan: $orange;

$divOrderInfoNotEmptyShadow: $blue;
$divOrderInfoNotEmptyHoverShadow: $blueDarker;

$divMenuWrapperA: $grey;
$divMenuWrapperAHover: $orange;

$divContentBoxFAQAnswerBorder: $greyLight2;

$divInfoboxTitleA: $grey;

$divInfoboxLinksA: $grey;

$divInfoboxAmount: $orange;

$divInfoboxDetailsBorder: $grey2;

$divAccountTicket: $grey;

$divHeaderTransaction: $grey;
$divHeaderWithdrawal: $grey;

//// SECTION ////
$secUserAreaBg: $white;
$secUserAreaA: $grey;
$secUserAreaAUserCircle: $blue;
$secUserAreaAChevronDown: $grey;
$secUserAreaAUserBalance: $blue;

$secUserAreaActiveABg: $white;
$secUserAreaActiveABorder: $grey7;

$secUserAreaActiveA: $grey;
$secUserAreaActiveAUserCircle: $blue;
$secUserAreaActiveAChevronDown: $grey;
$secUserAreaActiveAUserBalance: $blue;

$secFAQNav: $grey;
$secFAQNavBg: $grey5;
$secFAQNavBorder: $greyLight2;

$secFAQNavA: $grey;

$secFAQNavLiBorder: $greyLight2;

$secDivAnsBorder: $greyLight2;

$secH3Border: $greyLight2;

$secPageContentPagePA: $blue;
$secPageContentPagePAHover: $blueDarker;

//// NAV ////
$navPrimaryNavTopBorder: $grey8;
$navPrimaryNavTopBg: $white;
$navPrimaryDarkLiA: $white;

$navPrimaryDivLiA: $grey;
$navPrimaryDivLiAHover: $blue;

$navPrimaryDivLiHomeABorder: $grey8;
$navPrimaryDivLiHomeA: $blue;

$navPrimaryDivLiHomeAHoverBorder: $greyDark5;

$navPrimaryDivLiMobileHighA: $blue;

$navContentLiActiveABg: $blue;
$navContentLiActiveA: $white;
$navContentLiActiveAHoverBg: $blueDarker;

$navContentLiABg: $white;
$navContentLiABgHover: $blue;

$navPaginationNumbers: $greyLighter;
$navPaginationNumbersHover: $white;
$navPaginationNumbersBgHover: $blueDarker;

$navPaginationCurrent: $white;
$navPaginationCurrentBg: $blue;

$navPaginationCurrentBgHover: $blueDarker;

//// FOOTER ////
$footerDivA: $grey;
$footerDivASpan: $greyDarker;

$footerNavFooterA: $blue;

$footerNavSocialA: $blue;
$footerNavSocialASpanBorderHover: $blueDarker;
$footerNavSocialASpanBorder: $blueDarker;

$footerLogoTypesBorder: $grey8;

//// TABLES ////
$tabTable: $grey3;
$tabTableTheadTrBg: $grey2;
$tabTableTbodyTdBorder: $grey2;

$tabTableTfootTrBg: $greyAlmostWhite3;

$tabTableHoverTrHoverTdBg: $greyAlmostWhite3;

$tabTableShortTrTh: $grey;

$tabTableShortTrTdLabel: $grey;
$tabTableShortTrTdSpan: $greyLighter;

$tabTableShortTheadTrBg: $grey5;
$tabTableShortTheadTrThBorder: $white;

$tabTableShortTbodyTrBg: $grey5;
$tabTableShortTbodyTrTdBorder: $white;

$tabTableDetailedTbodyTd: $grey3;

$tabTableDetailedPrizeAmount: $orange;

$tabTableInfoJackpotInfoJackpotAmount: $orange;

$tabTableOrderBorder: $grey2;

$tabTableOrderTbodyTdBorder: $grey2;

$tabTablePaymentTfootTrBg: $trans;
$tabTablePaymentTfootTrTdLOTBg: $trans;

$tabTablePaymentTbodyTrFOTTdBg: $grey2;
$tabTablePaymentTbodyTrTdBgHover: $trans;

$tabTableSuccessTbodyTrTdBorder: $grey2;

$tabTableResultsDetailedAmount: $orange;

//// ARITICLE ////
$artNewsStrong: $grey;

$artTabTheadTrBg: $grey2;
$artTabTheadTrTdBorder: $grey2;

$artTabTbodyTrTdBorder: $grey2;

$artTabTfootTrBg: $greyAlmostWhite3;
$artTabTfootTrTdBorder: $grey2;

//// FORMS ////
$platformIn: $grey3;
$platformInBg: $grey2;
$platformInBorder: $grey2;

$platformInFocus: $grey4;
$platformInBgFocus: $white;
$platformInBorderFocus: $greyLight;

$platformDivErrorIn: $redLight;
$platformDivErrorInBg: $white;
$platformDivErrorInBorder: $redLight;

$platformDivErrorInFocus: $redLight;
$platformDivErrorInBorderFocus: $redLight;

$platformA: $blue;
$platformAHover: $blueDarker;

//// PAYMENT ////
$payCcDivErrorIn: $redLight;
$payCcDivErrorInBg: $white;
$payCcDivErrorInBorder: $redLight;

$payCcDivErrorInFocus: $redLight;
$payCcDivErrorInBorderFocus: $redLight;

$payCcInFocus: $grey4;
$payCcInBgFocus: $white;
$payCcInBorderFocus: $greyLight;

$payMobileLabel: $grey;

$payNavTilte: $grey;

$payNavUlA: $grey3;
$payNavUlABg: $grey5;
$payNavUlABorder: $greyLight2;

$payNavUlASpan: $orange;

//// DEPOSIT ////
$depositBorder: $greyLight3;
$depositBorderHover: $greyLight3;

$depositValueSpan: $orange;

$depositFormBorder: $grey2;
$depositFormBorderHover: $grey2;
$depositFormLabel: $greyLighter;

$depositActive: $grey6;
$depositActiveBorder: $orange;

//// DIALOGS ////
$dialogTitle: $grey;
$dialogTitleBorder: $grey8;

$dialogContentBtnTertiary: $white;
$dialogContentBtnTertiaryBg: $blue;
$dialogContentBtnTertiaryBgHover: $blueDarker;

$dialogContentA: $blue;
$dialogContentAHover: $blueDarker;

$dialogContentABtnPrimary: $white;
$dialogContentABtnPrimaryBg: $blue;
$dialogContentABtnPrimaryHover: $white;
$dialogContentABgBtnPrimaryHover: $blueDarker;

$dialogCloseBorder: $grey;
$dialogCloseBgHover: $grey;

//// TABLES TH ////
$thSorterHeaderBgHover: $greyAlmostWhite4;

//// WIDGET ////
$widFeaWrapSmallBg: $trans;
$widFeaWrapSmallContentBg: $blue;
$widFeaWrapSmallContentH2: $white;
$widFeaWrapSmallAmount: $white;
$widFeaWrapSmallInfoContainer: $white;

$widFeaContentBg: $blueDarker;

$widFeaCountdownTime: $white;

$widLatestNewsTitle: $grey;

$widListContentTitle: $grey;
$widListContentGridTitle: $grey;
$widListContentNolottery: $blueDarker;

$widListTicketHamount: $orange;
$widListTicketHamountBorder: $grey2;

$widListTicketCount: $grey;
$widListTicketCountBefore: $greyLighter;

$widPendingText: $grey;

$widType2Text: $greyLighter;

$widTicketIconOk: $orange;

$widTicketEntity: $grey3;

$widTicketEntityMobileBorder: $greyLight2;
$widTicketEntityMobileALine: $grey3;

$widTicketEntityCheckedBorder: $orange;

$widTicketEntityCheckedNumA: $grey3;
$widTicketEntityCheckedNumACheckedHover: $white !important;
$widTicketEntityCheckedNumACheckedBgHover: $blueDarker;
$widTicketEntityCheckedNumACheckedBorderHover: $blueDarker;

$widTicketEntityCheckedNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumA: $grey3;
$widTicketEntityCheckedBNumACheckedHover: $white !important;
$widTicketEntityCheckedBNumACheckedHoverBorder: $orange;
$widTicketEntityCheckedBNumACheckedHoverBg: $orange;

$widTicketEntityCheckedBNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumAHoverBg: $orange;

$widTicketEntityCheckedHoverNum: $grey3;
$widTicketEntityCheckedHoverNumAChecked: $white;

$widTicketEntityCheckedHoverBNum: $grey3;
$widTicketEntityCheckedHoverBNumAChecked: $white;

$widTicketEntityNumCheckedACheHover: $white !important;
$widTicketEntityNumCheckedACheHoverBorder: $blue;
$widTicketEntityNumCheckedACheHoverBg: $blue;
$widTicketEntityNumCheckedAHover: $grey3 !important;
$widTicketEntityNumCheckedAHoverBg: $blue;
$widTicketEntityNumA: $white;
$widTicketEntityNumAChecked: $white;

$widTicketEntityBNumCheckedACheHover: $white !important;
$widTicketEntityBNumCheckedACheHoverBorder: $orange;
$widTicketEntityBNumCheckedACheHoverBg: $orange;
$widTicketEntityBNumCheckedAHover: $grey3 !important;
$widTicketEntityBNumCheckedAHoverBg: $orange;
$widTicketEntityBNumAChecked: $white;

$widTicketEntityHoverNum: $grey3;
$widTicketEntityHoverNumAHover: $white;
$widTicketEntityHoverNumChe: $grey3;
$widTicketEntityHoverNumCheAChe: $white;

$widTicketEntityHoverBNum: $grey3;
$widTicketEntityHoverBNumAHover: $white;
$widTicketEntityHoverBNumChe: $grey3;
$widTicketEntityHoverBNumCheAChe: $white;

$widTicketNumAHoverBorder: $blue;
$widTicketNumAHoverBg: $blue;

$widTicketNumACheBorder: $blue;
$widTicketNumACheBg: $blue;
$widTicketNumACheHoverBorder: $blue;
$widTicketNumACheHoverBg: $blue;

$widTicketBNumAHoverBorder: $orange;
$widTicketBNumAHoverBg: $orange;

$widTicketBNumACheBorder: $orange;
$widTicketBNumACheBg: $orange;
$widTicketBNumACheHoverBorder: $orange;
$widTicketBNumACheHoverBg: $orange;

$widTicketSumContentHeader: $grey3;
$widTicketSumContentTotalValue: $grey3;

$widTicketSumButtonBg: $blue;
$widTicketSumButtonHoverBg: $blueDarker;

$widSmallDrawBg: $grey5;

//// RESULTS ////
$resShortContentABg: $grey2;
$resShortContentSelect: $grey3;
$resShortContentSelectBg: $grey2;

$resShortJackpot: $grey;
$resShortJackpotSpan: $orange;

$resMobileSort: $grey;

$resPayoutAmount: $orange;

//// MY ACCOUNT ////
$myaccMobileNav: $grey3;
$myaccMobileNavBg: $grey2;

$myaccFilterSelect: $grey3;
$myaccFilterSelectBg: $grey2;

$myaccTicketsMobileSort: $grey;

$myaccContentNavPagBg: $greyAlmostWhite5;

$myaccBalance: $grey;

$myaccBalanceSpan: $orange;

$myaccTransLabel: $grey3;
$myaccTransValue: $grey3;

$myaccPersonalLinkA: inherit !important;

//// FAQ ////
$faqMobileCats: $grey3;
$faqMobileCatsBg: $grey2;

//// INFO ////
$infoMobileSort: $grey;

//// TICKETS ////
$ticketsDate: $greyLighter;

$ticketsLinesStrong: $grey3;

//// TICKET ////
$ticketLineNumBg: $blue;
$ticketLineNum: $white;

$ticketLineBNumBg: $orange;
$ticketLineBNum: $white;

$ticketPrice: $grey3;

//// SMALL WIDGETS ////
$smallWidTitle: $grey;
$smallWidTitleBorder: $grey2;

$smallWidDrawTitleA: $grey;
$smallWidDrawAmount: $orange;

$smallWidResH2A: $grey;
$smallWidResLineBorder: $grey5;

$smallWidSliderPageActive: $white;
$smallWidSliderPageActiveBg: $orange;
$smallWidSliderPageActiveHover: $orange;
$smallWidSliderPageActiveMarked: $orange;

$smallWidSliderFillBg: $orange;

$smallWidSliderHeader: $grey;

$smallWidWinAmount: $blueDarker;

$smallWidWinItemCompactBorder: $grey5;

$smallWidWinItemCompactName: $grey;

$smallWidWinItemCompactCountryBg: $greyLighter2;

$smallWidWinItemCompactAmountSpan: $orange;

$smallWidWinItemCompactAmountH2A: $grey;

$smallWidsContentTextBg: $greyLight2;

$smallWidsContentTextH2TitleBg: $greyLight2;

$smallPurchaseBg: $blue;
$smallPurchaseHoverBg: $blueDarker;

$smallPurchaseSecondaryText: $blueDarkest;

//// REST ELEMENTS - almost always single ////

//// MOBILE ////
$mobMenuTrigger: $grey;

$mobCloseAreaBg: $greyVeryDark;
$mobCloseAreaBorder: $greyDark3;

$mobLangAreaSelect: $grey3;
$mobLangAreaSelectBg: $grey2;

//// SPAN ////
$spanFaSearch: $blue;
$spanFaSearchHover: $blueDarker;

$spanFaRefresh: $blue;
$spanFaRefreshHover: $blueDarker;
$spanFaRefreshADisabled: $grey2;

$spanFAQPlus: $orange;

$spanFaPlus: $orange;

$spanFaMinus: $orange;

$spanInfoPurchaseIconBg: $blueDarkest;
$spanInfoPurchaseIconDescSecText: $blueDarkest;

$selNewsCategories: $grey3;
$selNewsCategoriesBg: $grey2;

$conContentTabSpanFa: $blueDarkest;

$conContentTabA: $blue;
$conContentTabAHover: $blueDarker;

$faqItemActiveMark: $greyLight2;

$payTypeMobileBg: $white;
$payTypeMobileBorder: $grey3;

$cvvInfoTooltipCloud: $greyLighter;

$playLotteryJackpotAmount: $orange;

$orderLotteryQuickPickContainer: $grey3;

$trTransShadeTdNOT2: $grey3;

$successContent: $grey2;

$transactionsAmount: $orange;

$transactionsStatusWin: $orange;

//// MEDIA - here screen_max_w_1000 ////
$navPrimaryDivUlMenuLiA1000: $white;

$navPrimaryDivUlMenuLiMenuHighlightA1000: $blueDarker;

$navPrimaryDivUlMenuLiMenuUserASpan1000: $blue;
$navPrimaryDivUlMenuLiMenuUserASpanHover1000: $blueDarker;

$navPrimaryDivUlMenuLiDivMobContainerBg1000: $greyVeryDark2;
$navPrimaryDivUlMenuLiDivMobContainerBorder1000: $greyDark3;

$navPrimaryDivUlMenuLiDivUlLiAHover1000: $blue;

$navPrimaryDivUlMenuBg1000: $greyVeryDark;

$navPrimaryDivBg1000: $grey;

$tabTableHoverTbodyTrHoverTdBg1000: $trans;

$tabTableShortTbodyTrFOTTdBorder1000: $grey2;

$tabTableShortTbodyTrBg1000: $trans;
