/*
    Theme Name:     Megajackpot Theme
    Description:    Megajackpot whitelabel theme.
    Author:         WhiteLotto
    Text Domain:	megajackpot-theme
    Template:		base
    Version:        1.0.0
*/