/*
    Theme Name:     MegaMegapot Theme
    Description:    MegaMegapot whitelabel theme.
    Author:         WhiteLotto
    Text Domain:    megamegapot-theme
    Template:       base
    Version:        1.0.0
*/