.widget-8 {
  width: 100%;
  height: 240px;
  display: table;
  border-radius: 5px;
  min-width: 400px;
  max-width: 900px;

  .widget-top-title {
    width: 120px;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-radius: 5px;
    text-align: center;
    padding: 3px 0 5px 0;
    height: 16px;
    display: table;

    img {
      width: 80%;
    }
  }

  .widget-content {
    border: 1px solid $border-color;
    border-radius: 5px;

    .widget-lottery {
      border-top: 1px solid $border-color;
      width: 100%;
      display: table;

      &:first-child {
        border-top: none;
      }
    }
  }

  .widget-ball {
    padding: 18px 0 8px;
    text-align: center;

    img {
      width: 70px;
    }
  }

  .widget-lottery-name {
    color: $dark-text-color;
    font-size: 22px;
    text-align: left;
    font-family: $font-bold;
    margin-top: 22px;
    margin-left: 5px;
  }

  .widget-lottery-time {
    margin-top: 15px;
    color: $text-color;
    font-size: 16px;
    font-family: $font-semi-bold;
    text-align: left;
    margin-left: 5px;
  }

  .widget-time-left-title {
    color: $text-color;
    font-size: 15px;
    text-align: left;
    margin-top: 16px;
    margin-left: 15px;
    font-family: $font-bold;
  }

  .widget-jackpot {
    color: $price-color;
    font-family: $font-bold;
    text-align: left;
    font-size: 25px;
    margin-top: 1px;
    margin-left: 5px;
  }

  .widget-time-left {
    color: $text-color;
    font-family: $font-semi-bold;
    text-align: left;
    font-size: 14px;
    margin-top: 1px;
    margin-left: 15px;
  }

  .widget-play-now {
    display: table;
    float: right;
    background: $button-bg-color;
    width: 115px;
    padding: 11px 0 13px;
    text-align: center;
    color: $button-text-color;
    font-family: $font-bold;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin: 30px 15px;
  }

  .widget-left {
    float: left;
    width: 25%;
    text-align: center;
  }

  .widget-right {
    float: right;
    width: 75%;
  }

  .widget-bottom {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid $border-color;
  }
}
