.widget-7 {
  width: 100%;
  height: 390px;
  display: table;
  min-width: 240px;
  max-width: 550px;

  .widget-top-title {
    width: 120px;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    border-radius: 5px;
    text-align: center;
    padding: 3px 0 5px 0;
    height: 16px;
    display: table;

    img {
      max-width: 80%;
    }
  }

  .widget-content {
    border: 1px solid $border-color;
    border-radius: 5px;
  }

  .widget-ball {
    padding: 18px 0 8px;
    text-align: center;

    img {
      width: 80px;
    }
  }

  .widget-lottery-name {
    color: $dark-text-color;
    font-size: 22px;
    text-align: center;
    font-family: $font-bold;
  }

  .widget-lottery-time {
    margin-top: 15px;
    color: $text-color;
    font-size: 16px;
    font-family: $font-semi-bold;
    text-align: center;
  }

  .draw-results {
    text-align: left;
    display: flex;
    margin: 5px auto 12px;
    border-spacing: 4px 0;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
  }

  .ball {
    width: 26px;
    height: 26px;
    text-align: center;
    font-family: SourceSansPro-SemiBold;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;

    &.green-ball {
      background: url('../../../base/images/widgets/ball-green.png');
      background-size: 100% 100%;
      color: #ffffff;
    }

    &.white-ball {
      background: url('../../../base/images/widgets/ball-white.png');
      background-size: 100% 100%;
      color: #384656;
    }
  }

  .widget-nearest-jackpot {
    border-top: 1px solid $border-color;
    width: 100%;
    color: $jackpot-text-color;
    font-size: 15px;
    text-align: center;
    padding-top: 12px;
    font-family: $font-bold;
  }

  .widget-jackpot {
    color: $price-color;
    font-family: $font-bold;
    text-align: center;
    font-size: 25px;
    margin-top: 1px;
    margin-bottom: 10px;
  }

  .widget-play-now {
    display: table;
    background: $button-bg-color;
    width: 115px;
    padding: 13px 0 15px;
    text-align: center;
    margin: 15px auto 0;
    color: $button-text-color;
    font-family: $font-bold;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
  }

  .widget-time-left-title {
    color: $text-color;
    font-size: 15px;
    text-align: center;
    margin-top: 16px;
    margin-left: 15px;
    font-family: $font-bold;
    border-top: 1px solid $border-color;
    padding-top: 12px;
  }

  .widget-time-left {
    color: $text-color;
    font-family: $font-semi-bold;
    text-align: center;
    font-size: 14px;
    display: table;
    margin: 1px auto;
  }

  .widget-bottom {
    padding-bottom: 10px;
  }

  .calendar-icon {
    background: url('../../../base/images/widgets/small-calendar.png');
    width: 18px;
    height: 18px;
    margin-top: 1px;
    display: inline-block;
    background-size: 100% 100%;
    float: left;
    margin-right: 8px;
  }

  .align-right {
    margin-right: 15px;
    display: table;
    float: right;
  }
}
