.widget-1 {
  width: 100%;
  height: 420px;
  display: table;
  border: 3px solid $colorful-border-color;
  border-radius: 5px;
  min-width: 240px;
  max-width: 550px;

  .widget-top-title {
    border-bottom: 3px solid $colorful-border-color;
    border-radius: 2px;
    text-align: center;
    padding: 3px 0 4px 0;
    height: 16px;
    display: table;
    width: 100%;
    border-radius: 0;

    img {
      height: 20px;
    }
  }

  .widget-ball {
    padding: 18px 0 8px;
    text-align: center;

    img {
      width: 80px;
    }
  }

  .widget-lottery-name {
    color: $dark-text-color;
    font-size: 22px;
    text-align: center;
    font-family: SourceSansPro-Bold;
  }

  .widget-lottery-time {
    color: #87979c;
    font-size: 16px;
    font-family: SourceSansPro-SemiBold;
    text-align: center;
    display: table;
    margin: 10px auto 10px;
  }

  .draw-results {
    text-align: left;
    display: flex;
    margin: 5px auto 12px;
    border-spacing: 3px;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    justify-content: center;
  }

  .ball {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    font-family: $font-bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;

    &.white-ball {
      background: $normal-ball-bg-color;
      color: $normal-ball-text-color;
    }

    &.bonus-ball {
      background: $bonus-ball-bg-color;
      color: $bonus-ball-text-color;
    }

    .white-ball-shadow {
      padding-top: 4px;
      background: url('../../../base/images/widgets/ball-shadow-white.png');
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    }

    .color-ball-shadow {
      padding-top: 4px;
      background: url('../../../base/images/widgets/ball-shadow-color.png');
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    }
  }

  .widget-nearest-jackpot {
    border-top: 1px solid #dae0e3;
    width: 100%;
    color: $jackpot-text-color;
    font-size: 15px;
    text-align: center;
    padding-top: 12px;
    font-family: $font-bold;
  }

  .widget-jackpot {
    color: $price-color;
    font-family: $font-bold;
    text-align: center;
    font-size: 25px;
    margin-top: 1px;
    margin-bottom: 10px;
  }

  .widget-play-now {
    display: table;
    background: $button-bg-color;
    width: 115px;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-family: $font-bold;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
  }

  .calendar-icon {
    background: url('../../../base/images/widgets/small-calendar.png');
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: 100% 100%;
    float: left;
    margin-right: 8px;
  }
}
