//
//    DoubleJack theme
//

$trans: transparent; // - //

$white: #ffffff; // White //

$grey: #424242; // Grey almost black //
$grey2: #eaeaea; // Grey //
$grey3: #747474; // Grey //
$grey4: #606060; // Grey //
$grey5: #f4f4f4; // Grey //
$grey6: #595e63; // Grey //
$grey7: #cccccc; // Grey //
$grey8: #e5e5e5; // Grey //
$grey9: #48374b; // Grey //
$grey10: #5c4d5f; // Grey //
$greyAlmostWhite: #f1f1f1; // Grey almost white //
$greyAlmostWhite2: #f4f8f9; // Grey almost white //
$greyAlmostWhite3: #f9f9f9; // Grey almost white //
$greyAlmostWhite4: #e0e0e0; // Grey almost white //
$greyAlmostWhite5: #efefef; // Grey almost white //
$greyLighter: #8e918c; // Grey lighter //
$greyLighter2: #f2f2f2; // Grey lighter //
$greyLighter3: #e5ecef; // Grey lighter //
$greyLighter4: #8a8a8a; // Grey lighter //
$greyLight: #bbbbbb; // Light grey //
$greyLight2: #d3d3d3; // Grey light //
$greyLight3: #c7c7c7; // Grey light //
$greyDarker: #494949; // Grey darker //
$greyDarker2: #484848; // Grey darker //
$greyDark: #292d38; // Grey dark //
$greyDark2: #1a1d1a; // Grey dark //
$greyDark3: #555555; // Grey dark //
$greyDark4: #303030; // Grey dark //
$greyDark5: #474747; // Grey dark //
$greyDark6: #454545; // Grey dark //

$green: #65be3e; // Green //

$greyVeryDark: #191919; // Almost black //
$greyVeryDark2: #232323; // Almost black //

// doublejack

$navy: #011f55;
$navyDark: #001844;
$navyLight: #233d6c;

$navyFontBody: #38506c;
$navyFontHeaders: #001d51;

$red: #b00008;
$redDark: #8c0005;
$redDarker: #340002;

$yellow: #fbc04c;
$yellowDark: #d6b25b;

$greyBg: #e5ebef;

$blueBg: #e4ebfb;
$blueBgLight: #f4f7fd;

$transparent: transparent;

$darkNew: #232b31;
$headerBg: #3f4850;
$footerBg: #0d1d26;
$headings: #b7b6b6;
