//
//    Elements mappings - color definition
//

$headers: $navyFontHeaders;
$a: $navyFontHeaders;

$aInfoPurchaseBg: $red;
$aInfoPurchaseManual: $red;
$aInfoPurchaseHoverBg: $redDark;

$body: #38506c;
$bodyBg: #3f4850;

//// Buttons ////
$btn: $white;

$btnPrimary: $white;
$btnPrimaryBg: $red;
$btnPrimaryBgHover: $redDark;

$btnSecondary: $white;
$btnSecondaryBg: $navy;
$btnSecondaryBgHover: $navyDark;

$btnTertiary: $white;
$btnTertiaryBg: $red;
$btnTertiaryBgHover: $redDark;

$btnDefault: $grey;
$btnDefaultBg: $white;
$btnDefaultHover: $white;
$btnDefaultBgHover: none;
$btnDefaultBorder: $trans;
$btnDefaultBorderHover: $white;

$btnLoginBg: $red;
$btnLoginBgHover: $redDark;

$btnSignUp: $white;
$btnSignUpBg: $yellow;
$btnSignUpHover: $white;
$btnSignUpBgHover: $yellowDark;

//* WOCF7 *//
$inSub: $white;
$inSubBg: $red;
$inSubHover: $white;
$inSubBgHover: $redDark;

$inOther: $grey3;
$inOtherBg: $grey2;
$inOtherBorder: $grey2;

$inOtherFocus: $grey4;
$inOtherBgFocus: $white;
$inOtherBorderFocus: $greyLight;

$inOtherNotValid: $navy;
$inOtherBgNotValid: $white;
$inOtherBorderNotValid: $navy;

$inOtherNotValidFocus: $navy;
$inOtherBgNotValidFocus: $white;
$inOtherBorderNotValidFocus: $navy;

//// DIV *//
$divHomeWidgetBg: $grey2;

$divHomeWidgetBoxShadow: $grey7;
$divHomeWidgetHoverBoxShadow: $greyDark5;

$divUserInfoMenuContentBg: $white;

$divUserInfoMenuContentItemBorderRight: $grey7;
$divUserInfoMenuContentItemBorderBottom: $grey7;

$divUserInfoSpan: $grey;

$divUserInfoSpanFa: $red;

$divUserInfoContainerALogout: $grey;

$divUserInfoAreaBg: $red;
$divUserInfoAreaBorder: $red;

$divOrderInfoALinkBoxShadow: $grey8;
$divOrderInfoALinkHoverBoxShadow: $greyDark5;
$divOrderInfoALink: $white;
$divOrderInfoALinkSpan: $white;
$divOrderInfoALinkSpanBg: $red;
$divOrderInfoDescSpan: $red;

$divOrderInfoNotEmptyShadow: $red;
$divOrderInfoNotEmptyHoverShadow: $red;

$divMenuWrapperA: $navyFontHeaders;
$divMenuWrapperAHover: $red;

$divContentBoxFAQAnswerBorder: $greyLight2;

$divInfoboxTitleA: $navyFontHeaders;

$divInfoboxLinksA: $navyFontHeaders;

$divInfoboxAmount: $navy;

$divInfoboxDetailsBorder: $grey2;

$divAccountTicket: $navyFontHeaders;

$divHeaderTransaction: $navyFontHeaders;
$divHeaderWithdrawal: $navyFontHeaders;

//// SECTION ////
$secUserAreaBg: $white;
$secUserAreaA: $grey;
$secUserAreaAUserCircle: $red;
$secUserAreaAChevronDown: $grey;
$secUserAreaAUserBalance: $red;

$secUserAreaActiveABg: $white;
$secUserAreaActiveABorder: $grey7;

$secUserAreaActiveA: $grey;
$secUserAreaActiveAUserCircle: $red;
$secUserAreaActiveAChevronDown: $grey;
$secUserAreaActiveAUserBalance: $red;

$secFAQNav: $grey;
$secFAQNavBg: $grey5;
$secFAQNavBorder: $greyLight2;

$secFAQNavA: $navyFontHeaders;

$secFAQNavLiBorder: $greyLight2;

$secDivAnsBorder: $greyLight2;

$secH3Border: $greyLight2;

$secPageContentPagePA: $red;
$secPageContentPagePAHover: $red;

//// NAV ////
$navPrimaryNavTopBorder: $grey8;
$navPrimaryNavBottomBorder: $grey8;
$navPrimaryNavTopBg: $darkNew;
$navPrimaryDarkLiA: $white;

$navPrimaryDivLiA: $white;
$navPrimaryDivLiAHover: $red;

$navPrimaryDivLiHomeABorder: $grey8;
$navPrimaryDivLiHomeA: $red;

$navPrimaryDivLiHomeAHoverBorder: $greyDark5;

$navPrimaryDivLiMobileHighA: $red;

$navContentLiActiveABg: $navy;
$navContentLiActiveA: $white;
$navContentLiActiveAHoverBg: $navyDark;

$navContentLiABg: $blueBg;
$navContentLiAHover: $white;
$navContentLiABgHover: $navy;

$navPaginationNumbers: $greyLighter;
$navPaginationNumbersHover: $white;
$navPaginationNumbersBgHover: $redDark;

$navPaginationCurrent: $white;
$navPaginationCurrentBg: $red;

$navPaginationCurrentBgHover: $redDark;

//// FOOTER ////
$footerDivA: $grey;
$footerDivASpan: $greyDarker;

$footerNavFooterA: $red;

$footerNavSocialA: $red;
$footerNavSocialASpanBorderHover: $red;
$footerNavSocialASpanBorder: $red;

$footerLogoTypesBorder: $grey8;

//// TABLES ////
$tabTable: $navyFontHeaders;
$tabTableTheadTrBg: $blueBg;
$tabTableTbodyTdBorder: $grey2;

$tabTableTfootTrBg: $blueBg;

$tabTableHoverTrHoverTdBg: $blueBgLight;

$tabTableShortTrTh: $navyFontHeaders;

$tabTableShortTrTdLabel: $navyFontHeaders;
$tabTableShortTrTdSpan: $navyFontHeaders;

$tabTableShortTheadTrBg: $blueBg;
$tabTableShortTheadTrThBorder: $white;

$tabTableShortTbodyTrBg: $blueBg;
$tabTableShortTbodyTrTdBorder: $white;

$tabTableDetailedTbodyTd: $navyFontHeaders;

$tabTableDetailedPrizeAmount: $navy;

$tabTableInfoJackpotInfoJackpotAmount: $navy;

$tabTableOrderBorder: $grey2;

$tabTableOrderTbodyTdBorder: $grey2;

$tabTablePaymentTfootTrBg: $trans;
$tabTablePaymentTfootTrTdLOTBg: $trans;

$tabTablePaymentTbodyTrFOTTdBg: $blueBg;
$tabTablePaymentTbodyTrTdBgHover: $trans;

$tabTableSuccessTbodyTrTdBorder: $blueBg;

$tabTableResultsDetailedAmount: $navy;

//// ARITICLE ////
$artNewsStrong: $grey;

$artTabTheadTrBg: $grey2;
$artTabTheadTrTdBorder: $grey2;

$artTabTbodyTrTdBorder: $grey2;

$artTabTfootTrBg: $greyAlmostWhite3;
$artTabTfootTrTdBorder: $grey2;

//// FORMS ////
$platformIn: $grey3;
$platformInBg: $grey2;
$platformInBorder: $grey2;

$platformInFocus: $grey4;
$platformInBgFocus: $white;
$platformInBorderFocus: $greyLight;

$platformDivErrorIn: $navy;
$platformDivErrorInBg: $white;
$platformDivErrorInBorder: $navy;

$platformDivErrorInFocus: $navy;
$platformDivErrorInBorderFocus: $navy;

$platformA: $red;
$platformAHover: $redDark;

//// PAYMENT ////
$payCcDivErrorIn: $navy;
$payCcDivErrorInBg: $white;
$payCcDivErrorInBorder: $navy;

$payCcDivErrorInFocus: $navy;
$payCcDivErrorInBorderFocus: $navy;

$payCcInFocus: $grey4;
$payCcInBgFocus: $white;
$payCcInBorderFocus: $greyLight;

$payMobileLabel: $grey;

$payNavTilte: $grey;

$payNavUlA: $grey3;
$payNavUlABg: $grey5;
$payNavUlABorder: $greyLight2;

$payNavUlASpan: $red;

//// DEPOSIT ////
$depositBorder: $greyLight3;
$depositBorderHover: $greyLight3;

$depositFormBorder: $grey2;
$depositFormBorderHover: $grey2;
$depositFormLabel: $greyLighter;

$depositActive: $grey6;
$depositActiveBorder: $red;

//// DIALOGS ////
$dialogTitle: $grey;
$dialogTitleBorder: $grey8;

$dialogContentBtnTertiary: $white;
$dialogContentBtnTertiaryBg: $red;
$dialogContentBtnTertiaryBgHover: $redDark;

$dialogContentA: $red;
$dialogContentAHover: $redDark;

$dialogContentABtnPrimary: $white;
$dialogContentABtnPrimaryBg: $red;
$dialogContentABtnPrimaryHover: $white;
$dialogContentABgBtnPrimaryHover: $redDark;

$dialogCloseBorder: $grey;
$dialogCloseBgHover: $grey;

//// TABLES TH ////
$thSorterHeaderBgHover: $blueBg;

//// WIDGET ////
$widFeaWrapSmallBg: $trans;
$widFeaWrapSmallContentBg: #444;
$widFeaWrapSmallContentH2: $white;
$widFeaWrapSmallAmount: $white;
$widFeaWrapSmallInfoContainer: $white;

$widFeaContentBg: $red;

$widFeaCountdownTime: $white;

$widFeaButton: $red;

$widLatestNewsTitle: $headings;

$widListContentTitle: $grey;
$widListContentGridTitle: $grey;
$widListContentNolottery: $red;

$widListTicketBg: $navy;

$widListTicketHamount: $yellow;
$widListTicketHamountBorder: $navyLight;
$widListTicketHamountBg: $navy;

$widListTicketCount: $grey;
$widListTicketCountBefore: $white;

$widListLink: $white;

$widPendingText: $grey;
$widPendingTextBg: $navy;

$widType2Text: $white;

$widTicketIconOk: $red;

$widTicketEntity: $grey3;

$widTicketEntityMobileBorder: $greyLight2;
$widTicketEntityMobileALine: $grey3;

$widTicketEntityCheckedBorder: $red;

$widTicketEntityCheckedNumA: $grey3;
$widTicketEntityCheckedNumACheckedHover: $white !important;
$widTicketEntityCheckedNumACheckedBgHover: $red;
$widTicketEntityCheckedNumACheckedBorderHover: $red;

$widTicketEntityCheckedNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumA: $grey3;
$widTicketEntityCheckedBNumACheckedHover: $white !important;
$widTicketEntityCheckedBNumACheckedHoverBorder: $navy;
$widTicketEntityCheckedBNumACheckedHoverBg: $navy;

$widTicketEntityCheckedBNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumAHoverBg: $red;

$widTicketEntityCheckedHoverNum: $grey3;
$widTicketEntityCheckedHoverNumAChecked: $white;

$widTicketEntityCheckedHoverBNum: $grey3;
$widTicketEntityCheckedHoverBNumAChecked: $white;

$widTicketEntityNumCheckedACheHover: $white !important;
$widTicketEntityNumCheckedACheHoverBorder: $red;
$widTicketEntityNumCheckedACheHoverBg: $red;
$widTicketEntityNumCheckedAHover: $grey3 !important;
$widTicketEntityNumCheckedAHoverBg: $red;
$widTicketEntityNumA: $white;
$widTicketEntityNumAChecked: $white;

$widTicketEntityBNumCheckedACheHover: $white !important;
$widTicketEntityBNumCheckedACheHoverBorder: $navy;
$widTicketEntityBNumCheckedACheHoverBg: $navy;
$widTicketEntityBNumCheckedAHover: $grey3 !important;
$widTicketEntityBNumCheckedAHoverBg: $navy;
$widTicketEntityBNumAChecked: $white;

$widTicketEntityHoverNum: $grey3;
$widTicketEntityHoverNumAHover: $white;
$widTicketEntityHoverNumChe: $grey3;
$widTicketEntityHoverNumCheAChe: $white;

$widTicketEntityHoverBNum: $grey3;
$widTicketEntityHoverBNumAHover: $white;
$widTicketEntityHoverBNumChe: $grey3;
$widTicketEntityHoverBNumCheAChe: $white;

$widTicketNumAHoverBorder: $red;
$widTicketNumAHoverBg: $red;

$widTicketNumACheBorder: $red;
$widTicketNumACheBg: $red;
$widTicketNumACheHoverBorder: $red;
$widTicketNumACheHoverBg: $red;

$widTicketBNumAHoverBorder: $navy;
$widTicketBNumAHoverBg: $navy;

$widTicketBNumACheBorder: $navy;
$widTicketBNumACheBg: $navy;
$widTicketBNumACheHoverBorder: $navy;
$widTicketBNumACheHoverBg: $navy;

$widTicketSumContentHeader: $grey3;
$widTicketSumContentTotalValue: $grey3;

$widTicketSumButtonBg: $red;
$widTicketSumButtonHoverBg: $redDark;

$widTicketButtonMoreBg: $navy;
$widTicketButtonMoreHoverBg: $navyDark;
$widTicketButtonLessBg: $navy;
$widTicketButtonLessHoverBg: $navyDark;

$widSmallDrawBg: $grey5;

//// RESULTS ////
$resShortContentABg: $grey2;
$resShortContentSelect: $grey3;
$resShortContentSelectBg: $grey2;

$resShortJackpot: $grey;
$resShortJackpotSpan: $navy;

$resMobileSort: $grey;

$resPayoutAmount: $navy;

//// MY ACCOUNT ////
$myaccMobileNav: $grey3;
$myaccMobileNavBg: $grey2;

$myaccFilterSelect: $grey3;
$myaccFilterSelectBg: $grey2;

$myaccTicketsMobileSort: $grey;

$myaccContentNavPagBg: $greyAlmostWhite5;

$myaccBalance: $grey;

$myaccBalanceSpan: $navy;

$myaccTransLabel: $grey3;
$myaccTransValue: $grey3;

$myaccPersonalLinkA: inherit !important;

//// FAQ ////
$faqMobileCats: $grey3;
$faqMobileCatsBg: $grey2;

//// INFO ////
$infoMobileSort: $grey;

//// TICKETS ////
$ticketsDate: $greyLighter;

$ticketsLinesStrong: $grey3;

//// TICKET ////
$ticketLineNumBg: $red;
$ticketLineNum: $white;

$ticketLineBNumBg: $navy;
$ticketLineBNum: $white;

$ticketPrize: $grey3;
$ticketPrizeSpan: $navy;

//// SMALL WIDGETS ////
$smallWidBg: $blueBg;

$smallWidTitle: $navyFontHeaders;
$smallWidTitleBorder: $white;

$smallWidDrawTitleA: $navyFontHeaders;
$smallWidDrawAmount: $navy;

$smallWidResH2A: $navyFontHeaders;
$smallWidResLineBorder: $grey5;

$smallWidSliderPageActive: $white;
$smallWidSliderPageActiveBg: $red;
$smallWidSliderPageActiveHover: $red;
$smallWidSliderPageActiveMarked: $red;

$smallWidSliderFillBg: $red;

$smallWidSliderHeader: $grey;

$smallWidWinAmount: $redDarker;

$smallWidWinItemCompactBorder: $grey5;

$smallWidWinItemCompactName: $navyFontHeaders;

$smallWidWinItemCompactCountry: $white;

$smallWidWinItemCompactCountryBg: $navy;

$smallWidWinItemCompactAmountSpan: $red;

$smallWidWinItemCompactAmountH2A: $navyFontHeaders;

$smallWidsContentTextBg: $greyLight2;

$smallWidsContentTextH2TitleBg: $greyLight2;

$smallPurchaseBg: $red;
$smallPurchaseHoverBg: $redDark;

$smallPurchaseSecondaryText: $redDarker;

//// REST ELEMENTS - almost always single ////

//// MOBILE ////
$mobMenuTrigger: $grey;

$mobCloseAreaBg: $greyVeryDark;
$mobCloseAreaBorder: $greyDark3;

$mobLangAreaSelect: $grey3;
$mobLangAreaSelectBg: $grey2;

//// SPAN ////
$spanFaSearch: $red;
$spanFaSearchHover: $redDark;

$spanFaRefresh: $red;
$spanFaRefreshHover: $redDark;
$spanFaRefreshADisabled: $grey2;

$spanFAQPlus: $red;

$spanFaPlus: $red;

$spanFaMinus: $red;

$spanInfoPurchaseIconBg: $redDarker;
$spanInfoPurchaseIconDescSecText: $redDarker;

$selNewsCategories: $grey3;
$selNewsCategoriesBg: $grey2;

$conContentTabSpanFa: $red;

$conContentTabA: $red;
$conContentTabAHover: $red;

$faqItemActiveMark: $greyLight2;

$payTypeMobileBg: $white;
$payTypeMobileBorder: $grey3;

$cvvInfoTooltipCloud: $greyLighter;

$playLotteryJackpotAmount: $navy;

$orderLotteryQuickPickContainer: $grey3;

$trTransShadeTdNOT2: $grey3;

$successContent: $grey2;

$transactionsAmount: $navy;

$transactionsStatusWin: $green;

//// MEDIA - here screen_max_w_1000 ////
$navPrimaryDivUlMenuLiA1000: $white;

$navPrimaryDivUlMenuLiMenuHighlightA1000: $yellow;

$navPrimaryDivUlMenuLiMenuUserASpan1000: $yellow;
$navPrimaryDivUlMenuLiMenuUserASpanHover1000: $yellow;

$navPrimaryDivUlMenuLiDivMobContainerBg1000: $greyVeryDark2;
$navPrimaryDivUlMenuLiDivMobContainerBorder1000: $greyDark3;

$navPrimaryDivUlMenuLiDivUlLiAHover1000: $navy;

$navPrimaryDivUlMenuBg1000: $greyVeryDark;

$navPrimaryDivBg1000: $grey;

$tabTableHoverTbodyTrHoverTdBg1000: $trans;

$tabTableShortTbodyTrFOTTdBorder1000: $grey2;

$tabTableShortTbodyTrBg1000: $trans;
