//
//    Lotto500 theme
//

$trans: transparent; // - //

$white: #ffffff; // White //

$grey: #424242; // Grey almost black //
$grey2: #eaeaea; // Grey //
$grey3: #747474; // Grey //
$grey4: #606060; // Grey //
$grey5: #f4f4f4; // Grey //
$grey6: #595e63; // Grey //
$grey7: #cccccc; // Grey //
$grey8: #e5e5e5; // Grey //
$grey9: #48374b; // Grey //
$grey10: #5c4d5f; // Grey //
$greyAlmostWhite: #f1f1f1; // Grey almost white //
$greyAlmostWhite2: #f4f8f9; // Grey almost white //
$greyAlmostWhite3: #f9f9f9; // Grey almost white //
$greyAlmostWhite4: #e0e0e0; // Grey almost white //
$greyAlmostWhite5: #efefef; // Grey almost white //
$greyLighter: #8e918c; // Grey lighter //
$greyLighter2: #f2f2f2; // Grey lighter //
$greyLighter3: #e5ecef; // Grey lighter //
$greyLighter4: #8a8a8a; // Grey lighter //
$greyLight: #bbbbbb; // Light grey //
$greyLight2: #d3d3d3; // Grey light //
$greyLight3: #c7c7c7; // Grey light //
$greyDarker: #494949; // Grey darker //
$greyDarker2: #484848; // Grey darker //
$greyDark: #292d38; // Grey dark //
$greyDark2: #1a1d1a; // Grey dark //
$greyDark3: #555555; // Grey dark //
$greyDark4: #303030; // Grey dark //
$greyDark5: #474747; // Grey dark //
$greyDark6: #454545; // Grey dark //

$green: #6db432; // Green //
$greenDarker: #4e991e; // Green darker //
//$green: #67bd2e; // Green //
$green2: #5bb326; // Green //

$greenLight: #8bcc3f; // Green light //
$greenLight2: #36ac39; // Green light //
$greenDark: #41934c; // Green dark //
$greenDark2: #398844; // Green dark //
$greenDark3: #2fa12c; // Green dark //
$greenDark4: #065e0f; // Green dark //
$greenDark5: #54b136; // Green dark //
$greenDark6: #2d6d16; // Green dark //

$violet: #c53f93; // Violet //
//$violet: #9d37af; // Violet //
//$violetLighter: #c53f93; // Violet Lighter //
$violetLighter2: #a83387; // Violet Lighter //
$violetLighter3: #ad1d6d; // Violet Lighter //
$violetDarker: #8e2ca1; // Violet darker //
$violetDarker2: #7f2193; // Violet darker //
$violetDarker3: #581168; // Violet darker //
$violetDark: #332037; // Violet dark //

$blue: #456080; // Blue //
$blueDarker: #304766; // Blue Darker //

$orange: #ff5812; // Orange //
$orangeDarker: #ff490e; // Orange a bit darker //
$orangeLight: #ffba00; // Orange light //

$redLight: #f44336; // Light red //

$greyVeryDark: #191919; // Almost black //
$greyVeryDark2: #232323; // Almost black //
$yellow: #ffd200; // Yellow //
