/*
    Theme Name:     GGlottoDaeClub Theme
    Description:    GGlottoDaeClub whitelabel theme.
    Author:         WhiteLotto
    Text Domain:    gglottodaeclub-theme
    Template:       base
    Version:        1.0.0
*/