//
//    Media files definitions
//

@mixin screen_max_w_1280() {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin screen_max_w_1220() {
  @media screen and (max-width: 1220px) {
    @content;
  }
}

@mixin screen_max_w_1140() {
  @media screen and (max-width: 1140px) {
    @content;
  }
}

@mixin screen_max_w_1147() {
  @media screen and (max-width: 1147px) {
    @content;
  }
}

@mixin screen_max_w_1000() {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin screen_max_w_900() {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin screen_max_w_970() {
  @media screen and (max-width: 970px) {
    @content;
  }
}

@mixin screen_max_w_950() {
  @media screen and (max-width: 950px) {
    @content;
  }
}

@mixin screen_max_w_820() {
  @media screen and (max-width: 820px) {
    @content;
  }
}

@mixin screen_max_w_800() {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin screen_max_w_720() {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin screen_max_w_700() {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin screen_max_w_650() {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin screen_max_w_675() {
  @media screen and (max-width: 675px) {
    @content;
  }
}

@mixin screen_max_w_620() {
  @media screen and (max-width: 620px) {
    @content;
  }
}

@mixin screen_max_w_600() {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin screen_max_w_500() {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin screen_max_w_590() {
  @media screen and (max-width: 590px) {
    @content;
  }
}

@mixin screen_max_w_575() {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin screen_max_w_450() {
  @media screen and (max-width: 450px) {
    @content;
  }
}

@mixin screen_max_w_410() {
  @media screen and (max-width: 410px) {
    @content;
  }
}

@mixin screen_max_w_400() {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin screen_max_w_350() {
  @media screen and (max-width: 350px) {
    @content;
  }
}
@mixin screen_max_w_390() {
  @media screen and (max-width: 390px) {
    @content;
  }
}
@mixin screen_max_w_360() {
  @media screen and (max-width: 360px) {
    @content;
  }
}
