//
//    TuLotos theme
//

$trans: transparent; // - //

$white: #ffffff; // White //

$grey: #424242; // Grey almost black //
$grey2: #eaeaea; // Grey //
$grey3: #747474; // Grey //
$grey4: #606060; // Grey //
$grey5: #f4f4f4; // Grey //
$grey6: #595e63; // Grey //
$grey7: #cccccc; // Grey //
$grey8: #e5e5e5; // Grey //
$grey9: #48374b; // Grey //
$grey10: #5c4d5f; // Grey //
$greyAlmostWhite: #f1f1f1; // Grey almost white //
$greyAlmostWhite2: #f4f8f9; // Grey almost white //
$greyAlmostWhite3: #f9f9f9; // Grey almost white //
$greyAlmostWhite4: #e0e0e0; // Grey almost white //
$greyAlmostWhite5: #efefef; // Grey almost white //
$greyAlmostWhite6: #e9e9e9; // Grey almost white //

$greyLighter: #8e918c; // Grey lighter //
$greyLighter2: #f2f2f2; // Grey lighter //
$greyLight: #bbbbbb; // Light grey //
$greyLight2: #d3d3d3; // Grey light //
$greyDarker: #494949; // Grey darker //
$greyDarker2: #484848; // Grey darker //
$greyDark: #292d38; // Grey dark //
$greyDark2: #1a1d1a; // Grey dark //
$greyDark3: #555555; // Grey dark //

$green: #86b61f; // Green //
$green2: #5bb326; // Green //

$greenLight: #53b54e; // Green light //
$greenLight2: #36ac39; // Green light //
$greenDarker: #3aaf37; // Green darker //
$greenDark: #41934c; // Green dark //
$greenDark2: #398844; // Green dark //
$greenDark3: #70a416; // Green dark //
$greenDark4: #065e0f; // Green dark //
$greenDark5: #3d5708; // Green dark //

$violet: #c53f93; // Violet //
$violetLighter2: #a83387; // Violet Lighter //
$violetLighter3: #ad1d6d; // Violet Lighter //

$violetLighter4: #d747a1; // Violet Lighter //

$violetDarker: #c70180; // Violet darker //

$violetDarker2: #b20173; // Violet darker //
$violetDarker3: #581168; // Violet darker //

$violetDark: #332037; // Violet dark //
$violetDark2: #201223; // Violet dark //

$blue: #3f78bc; // Blue //

$orange: #fe7104; // Orange //
$orangeDarker: #fe6803; // Orange a bit darker //

$redLight: #f44336; // Light red //
