//
//    Elements mappings - color definition
//

$headers: $grey;
$a: $violet;

$aInfoPurchaseBg: $green;
$aInfoPurchaseManual: $green;
$aInfoPurchaseManualHover: $greenDark3;
$aInfoPurchaseHoverBg: $greenDark3;

$body: $greyLighter;
$bodyBg: $white;

$headerBg: $violetDark;

//// Buttons ////
$btn: $white;

$btnPrimary: $white;
$btnPrimaryBg: $green;
$btnPrimaryBgHover: $greenDark3;

$btnSecondary: $white;
$btnSecondaryBg: $violetDarker2;
$btnSecondaryBgHover: $violetDarker;

$btnTertiary: $white;
$btnTertiaryBg: $green;
$btnTertiaryBgHover: $greenDark3;

$btnDefault: $violet;
$btnDefaultBg: $white;
$btnDefaultHover: $white;
$btnDefaultBgHover: none;
$btnDefaultBorder: $trans;
$btnDefaultBorderHover: $white;

$btnSignUp: $white;
$btnSignUpBg: $violet;
$btnSignUpHover: $white;
$btnSignUpBgHover: $violetLighter4;

//* WOCF7 *//
$inSub: $white;
$inSubBg: $green;
$inSubHover: $white;
$inSubBgHover: $green2;

$inOther: $grey3;
$inOtherBg: $grey2;
$inOtherBorder: $grey2;

$inOtherFocus: $grey4;
$inOtherBgFocus: $white;
$inOtherBorderFocus: $greyLight;

$inOtherNotValid: $redLight;
$inOtherBgNotValid: $white;
$inOtherBorderNotValid: $redLight;

$inOtherNotValidFocus: $redLight;
$inOtherBgNotValidFocus: $white;
$inOtherBorderNotValidFocus: $redLight;

//// DIV *//
$divHomeWidgetBg: $greyAlmostWhite6;

$divHomeWidgetBoxShadow: $grey9;
$divHomeWidgetHoverBoxShadow: $grey10;

$divUserInfoSpan: $grey;

$divUserInfoAreaBg: $violet;
$divUserInfoAreaBorder: $violet;

$divOrderInfoALinkBoxShadow: $grey9;
$divOrderInfoALinkHoverBoxShadow: $grey10;
$divOrderInfoALink: $white;
$divOrderInfoALinkSpan: $white;
$divOrderInfoALinkSpanBg: $violet;
$divOrderInfoDescSpan: $violet;

$divOrderInfoNotEmptyShadow: $violet;
$divOrderInfoNotEmptyHoverShadow: $violetDarker;

$divMenuWrapperA: $grey;
$divMenuWrapperAHover: $violet;

$divContentBoxFAQAnswerBorder: $greyLight2;

$divInfoboxTitleA: $grey;

$divInfoboxLinksA: $grey;

$divInfoboxAmount: $violet;

$divInfoboxDetailsBorder: $grey2;

$divAccountTicket: $grey;

$divHeaderTransaction: $grey;
$divHeaderWithdrawal: $grey;

//// SECTION ////
$secUserAreaA: $white;
$secUserAreaAUserCircle: $violet;
$secUserAreaAChevronDown: $greyDarker;
$secUserAreaAUserBalance: $green;

$secUserAreaActiveABg: $grey10;

$secUserAreaActiveA: $white;
$secUserAreaActiveAUserCircle: $violet;
$secUserAreaActiveAChevronDown: $white;
$secUserAreaActiveAUserBalance: $green;

$secFAQNav: $grey;
$secFAQNavBg: $grey5;
$secFAQNavBorder: $greyLight2;

$secFAQNavA: $grey;

$secFAQNavLiBorder: $greyLight2;

$secDivAnsBorder: $greyLight2;

$secH3Border: $greyLight2;

//// NAV ////
$navPrimaryNavTopBorder: $grey9;
$navPrimaryNavTopBg: $violetDark;
$navPrimaryDarkLiA: $white;

$navPrimaryDivLiA: $white;
$navPrimaryDivLiAHover: $violet;

$navPrimaryDivLiHomeABorder: $grey9;
$navPrimaryDivLiHomeA: $violet;

$navPrimaryDivLiHomeAHoverBorder: $grey10;

$navPrimaryDivLiMobileHighA: $green;

$navContentLiActiveABg: $violet;
$navContentLiActiveAHoverBg: $violetLighter4;

$navContentLiABgHover: $violetLighter4;

$navPaginationNumbers: $greyLighter;
$navPaginationNumbersHover: $white;
$navPaginationNumbersBgHover: $greenDark3;

$navPaginationCurrent: $white;
$navPaginationCurrentBg: $green;
$navPaginationCurrentBgHover: $greenDark3;

//// FOOTER ////
$footerDivA: $grey;
$footerDivASpan: $greyDarker;

$footerNavFooterA: $violetLighter2;

$footerNavSocialA: $violetLighter2;
$footerNavSocialASpanBorderHover: $violetLighter2;
$footerNavSocialASpanBorder: $violetLighter2;

//// TABLES ////
$tabTable: $grey3;
$tabTableTheadTrBg: $grey2;
$tabTableTbodyTdBorder: $grey2;

$tabTableTfootTrBg: $greyAlmostWhite3;

$tabTableHoverTrHoverTdBg: $greyAlmostWhite3;

$tabTableShortTrTh: $grey;

$tabTableShortTrTdLabel: $grey;
$tabTableShortTrTdSpan: $greyLighter;

$tabTableShortTheadTrBg: $grey5;
$tabTableShortTheadTrThBorder: $white;

$tabTableShortTbodyTrBg: $grey5;
$tabTableShortTbodyTrTdBorder: $white;

$tabTableDetailedTbodyTd: $grey3;

$tabTableOrderBorder: $grey2;

$tabTableOrderTbodyTdBorder: $grey2;

$tabTablePaymentTfootTrBg: $trans;
$tabTablePaymentTfootTrTdLOTBg: $trans;

$tabTablePaymentTbodyTrFOTTdBg: $grey2;
$tabTablePaymentTbodyTrTdBgHover: $trans;

$tabTableSuccessTbodyTrTdBorder: $grey2;

//// ARITICLE ////
$artNewsStrong: $grey;

$artTabTheadTrBg: $grey2;
$artTabTheadTrTdBorder: $grey2;

$artTabTbodyTrTdBorder: $grey2;

$artTabTfootTrBg: $greyAlmostWhite3;
$artTabTfootTrTdBorder: $grey2;

//// FORMS ////
$platformIn: $grey3;
$platformInBg: $grey2;
$platformInBorder: $grey2;

$platformInFocus: $grey4;
$platformInBgFocus: $white;
$platformInBorderFocus: $greyLight;

$platformDivErrorIn: $redLight;
$platformDivErrorInBg: $white;
$platformDivErrorInBorder: $redLight;

$platformDivErrorInFocus: $redLight;
$platformDivErrorInBorderFocus: $redLight;

//// PAYMENT ////
$payCcDivErrorIn: $redLight;
$payCcDivErrorInBg: $white;
$payCcDivErrorInBorder: $redLight;

$payCcDivErrorInFocus: $redLight;
$payCcDivErrorInBorderFocus: $redLight;

$payCcInFocus: $grey4;
$payCcInBgFocus: $white;
$payCcInBorderFocus: $greyLight;

$payMobileLabel: $grey;

$payNavTilte: $grey;

$payNavUlA: $grey3;
$payNavUlABg: $grey5;
$payNavUlABorder: $greyLight2;

$payNavUlASpan: $green;
$payNavUlASpanHover: $greenDark3;

//// DEPOSIT ////
$depositHover: $greenDark3;

$depositValueSpan: $green;

$depositFormBorder: $grey2;
$depositFormBorderHover: $greenDark3;
$depositFormLabel: $greyLighter;

$depositActive: $grey6;
$depositActiveBorder: $green;

//// DIALOGS ////
$dialogTitle: $grey;
$dialogTitleBorder: $grey8;

$dialogContentBtnTertiaryBg: $violet;
$dialogContentBtnTertiaryBgHover: $violetLighter4;

$dialogContentA: $green;
$dialogContentAHover: $greenDark3;

$dialogContentABtnPrimary: $white;
$dialogContentABtnPrimaryBg: $green;
$dialogContentABtnPrimaryHover: $white;
$dialogContentABgBtnPrimaryHover: $greenDark3;

$dialogCloseBorder: $grey;
$dialogCloseBgHover: $grey;

//// TABLES TH ////
$thSorterHeaderBgHover: $greyAlmostWhite4;

//// WIDGET ////
$widFeaWrapSmallBg: $trans;
$widFeaWrapSmallContentBg: $violet;

$widFeaContentBg: $greenDark;

$widLatestNewsTitle: $grey;

$widListContentTitle: $grey;
$widListContentGridTitle: $grey;
$widListContentNolottery: $greenDark;

$widListTicketHamount: $violet;
$widListTicketHamountBorder: $grey2;

$widListTicketCount: $grey;
$widListTicketCountBefore: $greyLighter;

$widPendingText: $grey;

$widType2Text: $greyLighter;

$widTicketIconOk: $green;

$widTicketEntity: $grey3;

$widTicketEntityMobileBorder: $greyLight2;
$widTicketEntityMobileALine: $grey3;

$widTicketEntityCheckedBorder: $green;

$widTicketEntityCheckedNumA: $grey3;
$widTicketEntityCheckedNumACheckedHover: $white !important;
$widTicketEntityCheckedNumACheckedBgHover: $greenDark;
$widTicketEntityCheckedNumACheckedBorderHover: $greenDark;

$widTicketEntityCheckedNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumA: $grey3;
$widTicketEntityCheckedBNumACheckedHover: $white !important;
$widTicketEntityCheckedBNumACheckedHoverBorder: $orange;
$widTicketEntityCheckedBNumACheckedHoverBg: $orange;

$widTicketEntityCheckedBNumAHover: $grey3 !important;

$widTicketEntityCheckedBNumAHoverBg: $greenDarker;

$widTicketEntityCheckedHoverNum: $grey3;
$widTicketEntityCheckedHoverNumAChecked: $white;

$widTicketEntityCheckedHoverBNum: $grey3;
$widTicketEntityCheckedHoverBNumAChecked: $white;

$widTicketEntityNumCheckedACheHover: $white !important;
$widTicketEntityNumCheckedACheHoverBorder: $violetDarker3;
$widTicketEntityNumCheckedACheHoverBg: $violetDarker3;
$widTicketEntityNumCheckedAHover: $grey3 !important;
$widTicketEntityNumCheckedAHoverBg: $violet;
$widTicketEntityNumAChecked: $white;

$widTicketEntityBNumCheckedACheHover: $white !important;
$widTicketEntityBNumCheckedACheHoverBorder: $violet;
$widTicketEntityBNumCheckedACheHoverBg: $violet;
$widTicketEntityBNumCheckedAHover: $grey3 !important;
$widTicketEntityBNumCheckedAHoverBg: $greenDarker;
$widTicketEntityBNumAChecked: $white;

$widTicketEntityHoverNum: $grey3;
$widTicketEntityHoverNumAHover: $white;
$widTicketEntityHoverNumChe: $grey3;
$widTicketEntityHoverNumCheAChe: $white;

$widTicketEntityHoverBNum: $grey3;
$widTicketEntityHoverBNumAHover: $white;
$widTicketEntityHoverBNumChe: $grey3;
$widTicketEntityHoverBNumCheAChe: $white;

$widTicketNumAHoverBorder: $violetDarker3;
$widTicketNumAHoverBg: $violetDarker3;

$widTicketNumACheBorder: $violetDarker3;
$widTicketNumACheBg: $violetDarker3;
$widTicketNumACheHoverBorder: $violetDarker;
$widTicketNumACheHoverBg: $violetDarker;

$widTicketBNumAHoverBorder: $violet;
$widTicketBNumAHoverBg: $violet;

$widTicketBNumACheBorder: $violet;
$widTicketBNumACheBg: $violet;
$widTicketBNumACheHoverBorder: $greenDark3;
$widTicketBNumACheHoverBg: $greenDark3;

$widTicketSumContentHeader: $grey3;
$widTicketSumContentTotalValue: $grey3;

$widTicketSumButtonBg: $green;
$widTicketSumButtonHoverBg: $greenDark3;

$widSmallDrawBg: $grey5;

//// RESULTS ////
$resShortContentABg: $grey2;
$resShortContentSelect: $grey3;
$resShortContentSelectBg: $grey2;

$resShortJackpot: $grey;
$resShortJackpotSpan: $green;

$resMobileSort: $grey;

//// MY ACCOUNT ////
$myaccMobileNav: $grey3;
$myaccMobileNavBg: $grey2;

$myaccFilterSelect: $grey3;
$myaccFilterSelectBg: $grey2;

$myaccTicketsMobileSort: $grey;

$myaccContentNavPagBg: $greyAlmostWhite5;

$myaccBalance: $grey;

$myaccBalanceSpan: $violet;

$myaccTransLabel: $grey3;
$myaccTransValue: $grey3;

$myaccPersonalLinkA: inherit !important;

//// FAQ ////
$faqMobileCats: $grey3;
$faqMobileCatsBg: $grey2;

//// INFO ////
$infoMobileSort: $grey;

//// TICKETS ////
$ticketsDate: $greyLighter;

$ticketsLinesStrong: $grey3;

//// TICKET ////
$ticketLineNumBg: $violetDarker3;

$ticketLineBNumBg: $violet;

$ticketPrice: $grey3;

//// SMALL WIDGETS ////
$smallWidTitle: $grey;
$smallWidTitleBorder: $grey2;

$smallWidDrawTitleA: $grey;
$smallWidDrawAmount: $violet;

$smallWidResH2A: $grey;
$smallWidResLineBorder: $grey5;

$smallWidSliderPageActiveBg: $violet;
$smallWidSliderPageActiveHover: $violet;
$smallWidSliderPageActiveMarked: $violet;

$smallWidSliderFillBg: $violet;

$smallWidSliderHeader: $grey;

$smallWidWinAmount: $greenDark;

$smallWidWinItemCompactBorder: $grey5;

$smallWidWinItemCompactName: $grey;

$smallWidWinItemCompactCountryBg: $greyLighter2;

$smallWidWinItemCompactAmountSpan: $violetLighter3;

$smallWidWinItemCompactAmountH2A: $grey;

$smallWidsContentTextBg: $greyLight2;

$smallWidsContentTextH2TitleBg: $greyLight2;

$smallPurchaseBg: $green;
$smallPurchaseHoverBg: $greenDark3;

$smallPurchaseDescSecText: $greenDark5;

//// REST ELEMENTS - almost always single ////

//// MOBILE ////
$mobMenuTrigger: $white;

$mobCloseAreaBg: $violetDark;
$mobCloseAreaBorder: $greyDark3;

$mobLangAreaSelect: $grey3;
$mobLangAreaSelectBg: $grey2;

//// SPAN ////
$spanFaSearch: $green;
$spanFaSearchHover: $greenDark3;

$spanFaRefresh: $green;
$spanFaRefreshHover: $greenDark3;
$spanFaRefreshADisabled: $grey2;

$spanFAQPlus: $violet;

$spanInfoPurchaseIconBg: $greenDark5;
$spanInfoPurchaseIconDescSecText: $greenDark5;

$selNewsCategories: $grey3;
$selNewsCategoriesBg: $grey2;

$conContentTabSpanFa: $greenDark;

$faqItemActiveMark: $greyLight2;

$payTypeMobileBg: $white;
$payTypeMobileBorder: $grey3;

$cvvInfoTooltipCloud: $greyLighter;

$playLotteryJackpotAmount: $violet;

$orderLotteryQuickPickContainer: $grey3;

$trTransShadeTdNOT2: $grey3;

$successContent: $grey2;

//// MEDIA - here screen_max_w_1000 ////
$navPrimaryDivUlMenuLiA1000: $white;

$navPrimaryDivUlMenuLiMenuHighlightA1000: $greenDark3;

$navPrimaryDivUlMenuLiMenuUserASpan1000: $green;
$navPrimaryDivUlMenuLiMenuUserASpanHover1000: $greenDark3;

$navPrimaryDivUlMenuLiDivMobContainerBg1000: $violetDark2;
$navPrimaryDivUlMenuLiDivMobContainerBorder1000: $greyDark3;

$navPrimaryDivUlMenuLiDivUlLiA1000: $green;
$navPrimaryDivUlMenuLiDivUlLiAHover1000: $greenDark3;

$navPrimaryDivUlMenuBg1000: $violetDark;

$navPrimaryDivBg1000: $violetDark2;

$tabTableHoverTbodyTrHoverTdBg1000: $trans;

$tabTableShortTbodyTrFOTTdBorder1000: $grey2;

$tabTableShortTbodyTrBg1000: $trans;
