// alert-ggworld
#alert-ggworld {
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: #47bcff;
  color: #000;
  font-size: 16px;
  font-weight: 700;

  @include screen_max_w_900 {
    padding: .5rem;
    font-size: 14px;
  }

  .stretched-link {
    color: inherit;
    text-decoration: none;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
    }
  }
}
