/**** CASINO PROMO BANNER ****/
#casinoPromoBanner {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  img {
    position: inherit;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
  }
}
