// GEOBANNER CAMEROON
#geobanner-cameroon {
  .geobanner-dialog {
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .geobanner-img {
    width: 100%;
    height: 100%;
    max-height: 75vh;
    display: block;
    object-fit: contain;
  }
}
