// GEOBANNER GENERAL
.geobanner {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);

  &.show {
    display: block;
  }

  .geobanner-dialog {
    margin-right: auto;
    margin-left: auto;
  }

  .geobanner-content {
    position: relative;
  }

  .geobanner-close {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 0;
    right: -0.5rem;
    z-index: 2;
    transform: translateX(100%);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    background-position: 50%;
    background-size: 0.75rem;
    background-repeat: no-repeat;
    color: #fff;
    border: 0;
    border-radius: 50%;
    opacity: 1;
    outline: 0;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.75);
    }
  }

  .geobanner-link-stretched {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}
