// keno-animation

.d-none { display: none !important; }

#keno-animation {
    width: 100%;
    background-image: url('/wp-content/themes/base/images/keno-animation/bg.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    &,
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .ka-btn {
        display: block;
        padding: 1rem;
        background-color: #f044a4;
        background-image: linear-gradient(180deg, rgba(255,255,255,.5), rgba(255,255,255,0)) !important;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        text-decoration: none;
        border: 0;
        border-radius: 50rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        span + i,
        i + span { margin-left: .5rem; }
    }

    .ka-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;

        @media (max-width: 991.98px) {
            flex-direction: column;
        }

        .ka-img {
            width: 100px;
            display: block;
        }

        .ka-btn-group {
            display: flex;
        }

        .ka-btn + .ka-btn { margin-left: 1rem; }
    }

    .ka-countdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        .keno-countdown {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .ka-text-draw {
            margin-bottom: .5rem;
            font-size: 16px;
            font-weight: 700;
        }

        .ka-timer {
            display: flex;
            align-items: center;
            font-size: 32px;
            font-weight: 700;
        }

        .loading {
            width: 30px;
            height: 30px;
            display: block;
            margin-bottom: .5rem;
        }

        .ka-text-pending {
            font-size: 16px;
        }
    }

    .ka-body {
        padding: 1.5rem;
    }

    .ka-results {
        margin-bottom: 1.5rem;

        .ka-row {
            display: flex;
            flex-wrap: wrap;
        }

        .ka-col {
            width: #{math.percentage(math.div(2, 12))};
            margin-bottom: 1rem;
            padding-right: .25rem;
            padding-left: .25rem;

            @media (min-width: 992px) {
                width: #{math.percentage(math.div(1, 12))};
            }
        }

        .ka-ball {
            width: 100%;
            position: relative;
            padding-bottom: 100%;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: inset 0 0 0 1px #ccc;

            &[data-number]:not([data-number=""])::after {
                content: attr(data-number);
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f244a5;
                background-image: url('/wp-content/themes/base/images/keno-animation/ball-lg.png');
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                color: black;
                font-size: 14px;
                font-weight: 700;

                @media (min-width: 992px) {
                    font-size: 28px;
                }
            }
        }
    }

    .ka-canvas-container {
        background-image: url('/wp-content/themes/base/images/keno-animation/container.png');
        background-size: auto 100%;
        background-position: 50%;
        background-repeat: no-repeat;
    }

    #ka-canvas {
        width: 100%;
        display: block;
    }
}
