.datetime-dropdown-container {
  max-width: 459px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.dropdown-end {
    justify-content: end;
    max-width: 228px;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;

    &.dropdown-end {
      max-width: 100%;
    }
  }
}

.datetime-dropdown {
  border: 1px solid #c6cbd2;
  border-radius: 5px;
  max-width: 226px;
  width: 100%;
  position: relative;
  cursor: pointer;

  &::after {
    border: solid #7c8c9f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 17px;
    content: '';
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .datetime-dropdown-header {
    display: flex;
    align-items: center;

    .datetime-dropdown-header-icon {
      padding: 0 14px 0 17px;
      display: flex;
      align-items: center;

      i {
        color: #a0a8af;
        font-size: 22px;
      }
    }

    .datetime-dropdown-header-placeholder {
      font-family: 'Nunito Sans', sans-serif;

      .datetime-dropdown-header-label {
        font-weight: 600;
        font-size: 12px;
        color: #82848d;
        padding-top: 10px;
      }

      .datetime-dropdown-header-value {
        font-weight: 800;
        font-size: 16px;
        color: #424242;
        padding-top: 1px;
        padding-bottom: 6px;
      }
    }
  }

  .datetime-dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% - 1px);
    z-index: 1;
    display: none;
    list-style: none;
    padding: 0;
    background-color: #fff;
    border: 1px solid #c6cbd2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: -2px 0 0 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #82848d;
    max-height: 227px;
    overflow: auto;

    li {
      padding: 10px;
      cursor: pointer;

      &.active {
        background: #41934c;
        color: #fff;
      }

      &:hover:not(.active) {
        background-color: #eee;
      }
    }
  }

  &.active .datetime-dropdown-menu {
    display: block;
    animation: slideDown 0.3s ease forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin: 10px 0;
  }
}

// custom styles for flatpickr.js
.flatpickr-next-month,
.flatpickr-prev-month {
  top: 10px !important;
}

.flatpickr-months {
  padding-bottom: 15px;
  padding-top: 10px;
}

.flatpickr-current-month {
  font-weight: 800;
  font-size: 18px;
  color: #424242;
}

.flatpickr-calendar {
  font-family: 'Nunito Sans', sans-serif !important;
  box-shadow: none !important;
  border: 1px solid #c6cbd2 !important;
  border-radius: 5px !important;
}

.flatpickr-monthDropdown-months {
  pointer-events: none;
  text-align: center;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

.flatpickr-weekdaycontainer .flatpickr-weekday {
  font-size: 14px;
  color: #31374a;
}

.dayContainer .flatpickr-day:not(.prevMonthDay):not(.nextMonthDay) {
  font-size: 14px;
  color: #31374a;
}

.flatpickr-day.selected {
  background: #41934c !important;
  color: #fff !important;
  border-color: #41934c !important;
}

.flatpickr-day.today {
  background: transparent !important;
  color: #41934c !important;
  border-color: #41934c !important;
}

.event {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 1.5px);
  content: ' ';
  display: block;
  background: #41934c;
}

.event.busy {
  background: #f64747;
}

.datetime-dropdown.flatpickr-input::after,
#time-select.datetime-dropdown::after {
  pointer-events: none;
}
