#mobile-app-download-banner-container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #eaeaea;

  @media (min-width: 1250px) {
    display: none !important;
  }

  .banner-title {
    font-weight: bold;
  }

  .icon {
    width: 64px;
    height: 64px;
    background-image: url('../images/mobile-app-download-banner-icon.png');
    background-position: 50%;
    background-size: cover;
    border-radius: 10px;
    @media (max-width: 360px) {
      width: 56px;
      height: 56px;
    }
  }

  .text-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 10px;
    line-height: 1.4;
    @media (max-width: 360px) {
      line-height: 1.3;
      margin-left: 6px;
    }

    span {
      font-size: 12px;
      @media (max-width: 360px) {
        font-size: 11px;
      }
    }

    .rating {
      color: orange;
      font-size: 14px;
      font-weight: bolder;
      line-height: 1.2;
      @media (max-width: 360px) {
        line-height: 1;
      }
    }
  }

  .btn-container {
    display: flex;
    align-items: flex-end;
  }

  #hide-button {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 0 0 0 10px;
    background: none;
    color: black;
    font-size: 30px;
    line-height: 1;
    border: none;
  }

  #download-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: bold;
    border: none;
  }
}
