// PAGE - checkout

// Checkout list
.new-checkout-list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    &,
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .new-checkout-list-item {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-top: 1px solid #ddd
    }

    .new-checkout-list-item-img-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .new-checkout-list-item-multidraw-badge {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4caf50;
        color: #fff;
        font-size: 14px;
        border-radius: 50%;
        transform: translate(-50%,-50%);
    }

    .new-checkout-list-item-img {
        width: 45px;
        display: block;
    }

    .new-checkout-list-item-col {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }

    .new-checkout-list-item-content {
        flex: 2;
        display: flex;
    }

    .new-checkout-list-item-header {
        flex: 2;
        display: flex;
        flex-direction: column;
    }

    .new-checkout-list-item-title {
        font-size: 1rem;
        font-weight: 700;
    }

    .new-checkout-list-item-info {
        font-size: 1rem;
    }

    .new-checkout-list-item-details {
        line-height: 18px;
    }

    .new-checkout-list-lines {
        padding-top: 1rem;

        .ticket-line-number,
        .ticket-line-bnumber,
        .ticket-line-dnumber {
            font-size: 1rem;
        }
    }

    .new-checkout-list-item-price {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: .5rem;
        padding-left: .5rem;
        font-size: 1rem;
        font-weight: 700;
    }

    .new-checkout-list-item-btns {
        display: flex;
        justify-content: center;
        align-items: center;

        @include screen_max_w_620 {
            flex-direction: column;
        }

        .fa {
            font-size: 1.25rem;
        }
    }
}

// Btn more
.btn-more-pc {
    @include screen_max_w_1220 {
        display: none;
    }
}
.btn-more-mobi {
    height: 32px;
    display: none;
    margin-top: 24px;
    padding: 0 10px;
    line-height: 32px;
    @include screen_max_w_1220 {
        display: inline-block;
    }
}

// Payments
#newPaymentTypeMobile {
    display: none;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

    @include screen_max_w_800 {
        display: flex;
    }

    .payment-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        background-color: #eaeaea;
        color: #000;
        border: 2px solid transparent;
        border-radius: 8px;

        &.active {
            background-color: #fff;
            border-color: #000;
        }

        input {
            flex-shrink: 0;
            width: 1.5em;
            height: 1.5em;
            margin-top: .25em;
            margin-right: 1rem;
            vertical-align: top;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: 1px solid #dee2e6;
            border-radius: 50%;

            &:active {
                filter: brightness(90%);
            }

            &:focus {
                border-color: #c2c2c2;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(0,0,0,.25);
            }

            &:checked {
                background-color: #000;
                border-color: #000;
            }
        }

        .payment-item-col-left {
            display: flex;
            padding: 1rem;
        }

        .payment-item-col-right {
            flex: 2;
            padding: 1rem;
            border-left: 1px solid #dee2e6;
        }

        &.active .payment-item-col-right {
            border-color: #000;
        }

        label {
            margin-top: 0;
            font-weight: 700;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
        }

        img {
            width: 80px;
            height: 30px;
            display: block;
        }

        .new-description {
            display: none;
            padding-top: .5rem;
            font-size: 11px;
        }

        &.active .new-description { display: block; }
    }
}
