// PAGE - KENO

.page-keno-show-only-keno {
  .widget-list-grid ul {
    margin-right: -15px;
    margin-left: -15px;

    @include screen_max_w_1220 {
      margin-right: -5px;
      margin-left: -5px;
    }

    @include screen_max_w_800 {
      margin-right: 0;
      margin-left: 0;
    }
  }
  [data-lottery-type] {
    margin: 15px !important;

    @include screen_max_w_1220 {
      margin: 5px !important;
    }

    @include screen_max_w_800 {
      margin-top: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 10px !important;
      margin-left: 0 !important;
    }

    &:not([data-lottery-type='keno']) {
      display: none !important;
    }
  }
}

.page-keno-lotteries-show-only-keno {
  .information-lottery-row:not([data-lottery-type='keno']) {
    display: none !important;
  }
}

.page-keno-results-show-only-keno {
  .results-lottery-row:not([data-lottery-type='keno']) {
    display: none !important;
  }
}
