.promo-slider {
  margin-bottom: 20px;
  > div > a > img {
    display: none;
  }
  .slick-slide {
    margin: 0 5px;
    opacity: 0.6;
    max-width: 800px;
  }
  img {
    max-width: 100%;
    max-height: 250px;
  }
  .slick-active {
    opacity: unset !important;
  }
  .widget-list-carousel-next,
  .widget-list-carousel-prev {
    color: #000;
    top: 50%;
    display: block;
    transform: translate(0, -50%);
  }
}
.one-slide-only {
  .slick-list {
    padding: 0 !important;
    .slick-track {
      margin: 0;
      width: 100% !important;
      .slick-slide {
        width: 100%;
        margin: 0;
        img {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .promo-slider {
    .slick-list {
      padding: 0 !important;
      .slick-slide {
        margin: 0;
        img {
          width: 100%;
        }
      }
    }
  }
}
