// search-lotteries

.wl-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;

    .minigames-col & {
        margin-bottom: 20px;
    }

    .input-group {
        width: 100%;
        max-width: 250px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        @media (max-width: 767.98px) {
            max-width: none;
        }
    }

    .input-group-text {
        display: flex;
        align-items: center;
        padding: .375rem .75rem;
        text-align: center;
        background-color: #f8f9fa;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
        border: 1px solid #dee2e6;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

    .form-control {
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        display: block;
        margin-left: -1px;
        padding: .375rem .75rem;
        background-color: #fff;
        background-clip: padding-box;
        color: #000;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border: 1px solid #dee2e6;
        border-radius: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            color: #000;
            background-color: #fff;
            border-color: #6c757d;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66,70,73,.25);
            z-index: 5;
        }

        &::placeholder {
            color: #111;
            opacity: 1;
        }
    }

    .wl-btn {
        --bs-btn-color: #fff;
        --bs-btn-bg: #6c757d;
        --bs-btn-border-color: #6c757d;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #5c636a;
        --bs-btn-hover-border-color: #565e64;
        --bs-btn-focus-shadow-rgb: 130, 138, 145;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #565e64;
        --bs-btn-active-border-color: #51585e;
  
        display: block;
        position: relative;
        z-index: 2;
        margin-left: -1px;
        padding: .375rem .75rem;
        text-align: center;
        background-color: var(--bs-btn-bg);
        color: var(--bs-btn-color);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
        border: 1px solid var(--bs-btn-border-color);
        border-radius: 0;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        &:hover {
            color: var(--bs-btn-hover-color);
            background-color: var(--bs-btn-hover-bg);
            border-color: var(--bs-btn-hover-border-color);
        }

        &:active {
            color: var(--bs-btn-active-color);
            background-color: var(--bs-btn-active-bg);
            border-color: var(--bs-btn-active-border-color);

            &:focus {
                box-shadow: var(--bs-btn-focus-box-shadow);
            }
        }

        &:focus {
            color: var(--bs-btn-hover-color);
            background-color: var(--bs-btn-hover-bg);
            border-color: var(--bs-btn-hover-border-color);
            outline: 0;
            box-shadow: var(--bs-btn-focus-box-shadow);
        }
    }
}
