/******* SPRITES (LANG) *******/

.sprite-lang {
  background-image: url('../../base/images/flags/spritesheet.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-lang-ad {
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
}

.sprite-lang-ae {
  width: 20px;
  height: 20px;
  background-position: -35px -5px;
}

.sprite-lang-af {
  width: 20px;
  height: 20px;
  background-position: -65px -5px;
}

.sprite-lang-ag {
  width: 20px;
  height: 20px;
  background-position: -95px -5px;
}

.sprite-lang-ai {
  width: 20px;
  height: 20px;
  background-position: -125px -5px;
}

.sprite-lang-al {
  width: 20px;
  height: 20px;
  background-position: -155px -5px;
}

.sprite-lang-am {
  width: 20px;
  height: 20px;
  background-position: -185px -5px;
}

.sprite-lang-ao {
  width: 20px;
  height: 20px;
  background-position: -215px -5px;
}

.sprite-lang-ar {
  width: 20px;
  height: 20px;
  background-position: -245px -5px;
}

.sprite-lang-as {
  width: 20px;
  height: 20px;
  background-position: -275px -5px;
}

.sprite-lang-at {
  width: 20px;
  height: 20px;
  background-position: -305px -5px;
}

.sprite-lang-au {
  width: 20px;
  height: 20px;
  background-position: -335px -5px;
}

.sprite-lang-aw {
  width: 20px;
  height: 20px;
  background-position: -365px -5px;
}

.sprite-lang-az {
  width: 20px;
  height: 20px;
  background-position: -395px -5px;
}

.sprite-lang-ba {
  width: 20px;
  height: 20px;
  background-position: -425px -5px;
}

.sprite-lang-bb {
  width: 20px;
  height: 20px;
  background-position: -5px -35px;
}

.sprite-lang-bd {
  width: 20px;
  height: 20px;
  background-position: -35px -35px;
}

.sprite-lang-be {
  width: 20px;
  height: 20px;
  background-position: -65px -35px;
}

.sprite-lang-bf {
  width: 20px;
  height: 20px;
  background-position: -95px -35px;
}

.sprite-lang-bg {
  width: 20px;
  height: 20px;
  background-position: -125px -35px;
}

.sprite-lang-bh {
  width: 20px;
  height: 20px;
  background-position: -155px -35px;
}

.sprite-lang-bi {
  width: 20px;
  height: 20px;
  background-position: -185px -35px;
}

.sprite-lang-bj {
  width: 20px;
  height: 20px;
  background-position: -215px -35px;
}

.sprite-lang-bl {
  width: 20px;
  height: 20px;
  background-position: -245px -35px;
}

.sprite-lang-bm {
  width: 20px;
  height: 20px;
  background-position: -275px -35px;
}

.sprite-lang-bn {
  width: 20px;
  height: 20px;
  background-position: -305px -35px;
}

.sprite-lang-bo {
  width: 20px;
  height: 20px;
  background-position: -335px -35px;
}

.sprite-lang-br {
  width: 20px;
  height: 20px;
  background-position: -365px -35px;
}

.sprite-lang-bs {
  width: 20px;
  height: 20px;
  background-position: -395px -35px;
}

.sprite-lang-bt {
  width: 20px;
  height: 20px;
  background-position: -425px -35px;
}

.sprite-lang-bv {
  width: 20px;
  height: 20px;
  background-position: -5px -65px;
}

.sprite-lang-bw {
  width: 20px;
  height: 20px;
  background-position: -35px -65px;
}

.sprite-lang-by {
  width: 20px;
  height: 20px;
  background-position: -65px -65px;
}

.sprite-lang-bz {
  width: 20px;
  height: 20px;
  background-position: -95px -65px;
}

.sprite-lang-ca {
  width: 20px;
  height: 20px;
  background-position: -125px -65px;
}

.sprite-lang-cc {
  width: 20px;
  height: 20px;
  background-position: -155px -65px;
}

.sprite-lang-cd {
  width: 20px;
  height: 20px;
  background-position: -185px -65px;
}

.sprite-lang-cf {
  width: 20px;
  height: 20px;
  background-position: -215px -65px;
}

.sprite-lang-cg {
  width: 20px;
  height: 20px;
  background-position: -245px -65px;
}

.sprite-lang-ch {
  width: 20px;
  height: 20px;
  background-position: -275px -65px;
}

.sprite-lang-ci {
  width: 20px;
  height: 20px;
  background-position: -305px -65px;
}

.sprite-lang-ck {
  width: 20px;
  height: 20px;
  background-position: -335px -65px;
}

.sprite-lang-cl {
  width: 20px;
  height: 20px;
  background-position: -365px -65px;
}

.sprite-lang-cm {
  width: 20px;
  height: 20px;
  background-position: -395px -65px;
}

.sprite-lang-cn {
  width: 20px;
  height: 20px;
  background-position: -425px -65px;
}

.sprite-lang-co {
  width: 20px;
  height: 20px;
  background-position: -5px -95px;
}

.sprite-lang-cr {
  width: 20px;
  height: 20px;
  background-position: -35px -95px;
}

.sprite-lang-cu {
  width: 20px;
  height: 20px;
  background-position: -65px -95px;
}

.sprite-lang-cv {
  width: 20px;
  height: 20px;
  background-position: -95px -95px;
}

.sprite-lang-cx {
  width: 20px;
  height: 20px;
  background-position: -125px -95px;
}

.sprite-lang-cy {
  width: 20px;
  height: 20px;
  background-position: -155px -95px;
}

.sprite-lang-cz {
  width: 20px;
  height: 20px;
  background-position: -185px -95px;
}

.sprite-lang-de {
  width: 20px;
  height: 20px;
  background-position: -215px -95px;
}

.sprite-lang-dj {
  width: 20px;
  height: 20px;
  background-position: -245px -95px;
}

.sprite-lang-dk {
  width: 20px;
  height: 20px;
  background-position: -275px -95px;
}

.sprite-lang-dm {
  width: 20px;
  height: 20px;
  background-position: -305px -95px;
}

.sprite-lang-do {
  width: 20px;
  height: 20px;
  background-position: -335px -95px;
}

.sprite-lang-dz {
  width: 20px;
  height: 20px;
  background-position: -365px -95px;
}

.sprite-lang-ec {
  width: 20px;
  height: 20px;
  background-position: -395px -95px;
}

.sprite-lang-ee {
  width: 20px;
  height: 20px;
  background-position: -425px -95px;
}

.sprite-lang-eg {
  width: 20px;
  height: 20px;
  background-position: -5px -125px;
}

.sprite-lang-er {
  width: 20px;
  height: 20px;
  background-position: -35px -125px;
}

.sprite-lang-es {
  width: 20px;
  height: 20px;
  background-position: -65px -125px;
}

.sprite-lang-et {
  width: 20px;
  height: 20px;
  background-position: -95px -125px;
}

.sprite-lang-eu {
  width: 20px;
  height: 20px;
  background-position: -125px -125px;
}

.sprite-lang-fi {
  width: 20px;
  height: 20px;
  background-position: -155px -125px;
}

.sprite-lang-fj {
  width: 20px;
  height: 20px;
  background-position: -185px -125px;
}

.sprite-lang-fk {
  width: 20px;
  height: 20px;
  background-position: -215px -125px;
}

.sprite-lang-fm {
  width: 20px;
  height: 20px;
  background-position: -245px -125px;
}

.sprite-lang-fo {
  width: 20px;
  height: 20px;
  background-position: -275px -125px;
}

.sprite-lang-fr {
  width: 20px;
  height: 20px;
  background-position: -305px -125px;
}

.sprite-lang-ga {
  width: 20px;
  height: 20px;
  background-position: -335px -125px;
}

.sprite-lang-gb {
  width: 20px;
  height: 20px;
  background-position: -365px -125px;
}

.sprite-lang-gd {
  width: 20px;
  height: 20px;
  background-position: -395px -125px;
}

.sprite-lang-ge {
  width: 20px;
  height: 20px;
  background-position: -425px -125px;
}

.sprite-lang-gf {
  width: 20px;
  height: 20px;
  background-position: -5px -155px;
}

.sprite-lang-gg {
  width: 20px;
  height: 20px;
  background-position: -35px -155px;
}

.sprite-lang-gh {
  width: 20px;
  height: 20px;
  background-position: -65px -155px;
}

.sprite-lang-gi {
  width: 20px;
  height: 20px;
  background-position: -95px -155px;
}

.sprite-lang-gl {
  width: 20px;
  height: 20px;
  background-position: -125px -155px;
}

.sprite-lang-gm {
  width: 20px;
  height: 20px;
  background-position: -155px -155px;
}

.sprite-lang-gn {
  width: 20px;
  height: 20px;
  background-position: -185px -155px;
}

.sprite-lang-gp {
  width: 20px;
  height: 20px;
  background-position: -215px -155px;
}

.sprite-lang-gq {
  width: 20px;
  height: 20px;
  background-position: -245px -155px;
}

.sprite-lang-gr {
  width: 20px;
  height: 20px;
  background-position: -275px -155px;
}

.sprite-lang-gs {
  width: 20px;
  height: 20px;
  background-position: -305px -155px;
}

.sprite-lang-gt {
  width: 20px;
  height: 20px;
  background-position: -335px -155px;
}

.sprite-lang-gu {
  width: 20px;
  height: 20px;
  background-position: -365px -155px;
}

.sprite-lang-gw {
  width: 20px;
  height: 20px;
  background-position: -395px -155px;
}

.sprite-lang-gy {
  width: 20px;
  height: 20px;
  background-position: -425px -155px;
}

.sprite-lang-hk {
  width: 20px;
  height: 20px;
  background-position: -5px -185px;
}

.sprite-lang-hm {
  width: 20px;
  height: 20px;
  background-position: -35px -185px;
}

.sprite-lang-hn {
  width: 20px;
  height: 20px;
  background-position: -65px -185px;
}

.sprite-lang-hr {
  width: 20px;
  height: 20px;
  background-position: -95px -185px;
}

.sprite-lang-ht {
  width: 20px;
  height: 20px;
  background-position: -125px -185px;
}

.sprite-lang-hu {
  width: 20px;
  height: 20px;
  background-position: -155px -185px;
}

.sprite-lang-id {
  width: 20px;
  height: 20px;
  background-position: -185px -185px;
}

.sprite-lang-ie {
  width: 20px;
  height: 20px;
  background-position: -215px -185px;
}

.sprite-lang-il {
  width: 20px;
  height: 20px;
  background-position: -245px -185px;
}

.sprite-lang-im {
  width: 20px;
  height: 20px;
  background-position: -275px -185px;
}

.sprite-lang-in {
  width: 20px;
  height: 20px;
  background-position: -305px -185px;
}

.sprite-lang-io {
  width: 20px;
  height: 20px;
  background-position: -335px -185px;
}

.sprite-lang-iq {
  width: 20px;
  height: 20px;
  background-position: -365px -185px;
}

.sprite-lang-ir {
  width: 20px;
  height: 20px;
  background-position: -395px -185px;
}

.sprite-lang-is {
  width: 20px;
  height: 20px;
  background-position: -425px -185px;
}

.sprite-lang-it {
  width: 20px;
  height: 20px;
  background-position: -5px -215px;
}

.sprite-lang-je {
  width: 20px;
  height: 20px;
  background-position: -35px -215px;
}

.sprite-lang-jm {
  width: 20px;
  height: 20px;
  background-position: -65px -215px;
}

.sprite-lang-jo {
  width: 20px;
  height: 20px;
  background-position: -95px -215px;
}

.sprite-lang-jp {
  width: 20px;
  height: 20px;
  background-position: -125px -215px;
}

.sprite-lang-ke {
  width: 20px;
  height: 20px;
  background-position: -155px -215px;
}

.sprite-lang-kg {
  width: 20px;
  height: 20px;
  background-position: -185px -215px;
}

.sprite-lang-kh {
  width: 20px;
  height: 20px;
  background-position: -215px -215px;
}

.sprite-lang-ki {
  width: 20px;
  height: 20px;
  background-position: -245px -215px;
}

.sprite-lang-km {
  width: 20px;
  height: 20px;
  background-position: -275px -215px;
}

.sprite-lang-kn {
  width: 20px;
  height: 20px;
  background-position: -305px -215px;
}

.sprite-lang-kp {
  width: 20px;
  height: 20px;
  background-position: -335px -215px;
}

.sprite-lang-kr {
  width: 20px;
  height: 20px;
  background-position: -365px -215px;
}

.sprite-lang-kw {
  width: 20px;
  height: 20px;
  background-position: -395px -215px;
}

.sprite-lang-ky {
  width: 20px;
  height: 20px;
  background-position: -425px -215px;
}

.sprite-lang-kz {
  width: 20px;
  height: 20px;
  background-position: -5px -245px;
}

.sprite-lang-la {
  width: 20px;
  height: 20px;
  background-position: -35px -245px;
}

.sprite-lang-lb {
  width: 20px;
  height: 20px;
  background-position: -65px -245px;
}

.sprite-lang-lc {
  width: 20px;
  height: 20px;
  background-position: -95px -245px;
}

.sprite-lang-li {
  width: 20px;
  height: 20px;
  background-position: -125px -245px;
}

.sprite-lang-lk {
  width: 20px;
  height: 20px;
  background-position: -155px -245px;
}

.sprite-lang-lr {
  width: 20px;
  height: 20px;
  background-position: -185px -245px;
}

.sprite-lang-ls {
  width: 20px;
  height: 20px;
  background-position: -215px -245px;
}

.sprite-lang-lt {
  width: 20px;
  height: 20px;
  background-position: -245px -245px;
}

.sprite-lang-lu {
  width: 20px;
  height: 20px;
  background-position: -275px -245px;
}

.sprite-lang-lv {
  width: 20px;
  height: 20px;
  background-position: -305px -245px;
}

.sprite-lang-ly {
  width: 20px;
  height: 20px;
  background-position: -335px -245px;
}

.sprite-lang-ma {
  width: 20px;
  height: 20px;
  background-position: -365px -245px;
}

.sprite-lang-mc {
  width: 20px;
  height: 20px;
  background-position: -395px -245px;
}

.sprite-lang-md {
  width: 20px;
  height: 20px;
  background-position: -425px -245px;
}

.sprite-lang-me {
  width: 20px;
  height: 20px;
  background-position: -5px -275px;
}

.sprite-lang-mf {
  width: 20px;
  height: 20px;
  background-position: -35px -275px;
}

.sprite-lang-mg {
  width: 20px;
  height: 20px;
  background-position: -65px -275px;
}

.sprite-lang-mh {
  width: 20px;
  height: 20px;
  background-position: -95px -275px;
}

.sprite-lang-mk {
  width: 20px;
  height: 20px;
  background-position: -125px -275px;
}

.sprite-lang-ml {
  width: 20px;
  height: 20px;
  background-position: -155px -275px;
}

.sprite-lang-mm {
  width: 20px;
  height: 20px;
  background-position: -185px -275px;
}

.sprite-lang-mn {
  width: 20px;
  height: 20px;
  background-position: -215px -275px;
}

.sprite-lang-mo {
  width: 20px;
  height: 20px;
  background-position: -245px -275px;
}

.sprite-lang-mp {
  width: 20px;
  height: 20px;
  background-position: -275px -275px;
}

.sprite-lang-mq {
  width: 20px;
  height: 20px;
  background-position: -305px -275px;
}

.sprite-lang-mr {
  width: 20px;
  height: 20px;
  background-position: -335px -275px;
}

.sprite-lang-ms {
  width: 20px;
  height: 20px;
  background-position: -365px -275px;
}

.sprite-lang-mt {
  width: 20px;
  height: 20px;
  background-position: -395px -275px;
}

.sprite-lang-mu {
  width: 20px;
  height: 20px;
  background-position: -425px -275px;
}

.sprite-lang-mv {
  width: 20px;
  height: 20px;
  background-position: -5px -305px;
}

.sprite-lang-mw {
  width: 20px;
  height: 20px;
  background-position: -35px -305px;
}

.sprite-lang-mx {
  width: 20px;
  height: 20px;
  background-position: -65px -305px;
}

.sprite-lang-my {
  width: 20px;
  height: 20px;
  background-position: -95px -305px;
}

.sprite-lang-mz {
  width: 20px;
  height: 20px;
  background-position: -125px -305px;
}

.sprite-lang-na {
  width: 20px;
  height: 20px;
  background-position: -155px -305px;
}

.sprite-lang-nc {
  width: 20px;
  height: 20px;
  background-position: -185px -305px;
}

.sprite-lang-ne {
  width: 20px;
  height: 20px;
  background-position: -215px -305px;
}

.sprite-lang-nf {
  width: 20px;
  height: 20px;
  background-position: -245px -305px;
}

.sprite-lang-ng {
  width: 20px;
  height: 20px;
  background-position: -275px -305px;
}

.sprite-lang-ni {
  width: 20px;
  height: 20px;
  background-position: -305px -305px;
}

.sprite-lang-nl {
  width: 20px;
  height: 20px;
  background-position: -335px -305px;
}

.sprite-lang-no {
  width: 20px;
  height: 20px;
  background-position: -365px -305px;
}

.sprite-lang-np {
  width: 20px;
  height: 20px;
  background-position: -395px -305px;
}

.sprite-lang-nr {
  width: 20px;
  height: 20px;
  background-position: -425px -305px;
}

.sprite-lang-nu {
  width: 20px;
  height: 20px;
  background-position: -5px -335px;
}

.sprite-lang-nz {
  width: 20px;
  height: 20px;
  background-position: -35px -335px;
}

.sprite-lang-om {
  width: 20px;
  height: 20px;
  background-position: -65px -335px;
}

.sprite-lang-pa {
  width: 20px;
  height: 20px;
  background-position: -95px -335px;
}

.sprite-lang-pe {
  width: 20px;
  height: 20px;
  background-position: -125px -335px;
}

.sprite-lang-pf {
  width: 20px;
  height: 20px;
  background-position: -155px -335px;
}

.sprite-lang-pg {
  width: 20px;
  height: 20px;
  background-position: -185px -335px;
}

.sprite-lang-ph {
  width: 20px;
  height: 20px;
  background-position: -215px -335px;
}

.sprite-lang-pk {
  width: 20px;
  height: 20px;
  background-position: -245px -335px;
}

.sprite-lang-pl {
  width: 20px;
  height: 20px;
  background-position: -275px -335px;
}

.sprite-lang-pm {
  width: 20px;
  height: 20px;
  background-position: -305px -335px;
}

.sprite-lang-pn {
  width: 20px;
  height: 20px;
  background-position: -335px -335px;
}

.sprite-lang-pr {
  width: 20px;
  height: 20px;
  background-position: -365px -335px;
}

.sprite-lang-pt {
  width: 20px;
  height: 20px;
  background-position: -395px -335px;
}

.sprite-lang-pw {
  width: 20px;
  height: 20px;
  background-position: -425px -335px;
}

.sprite-lang-py {
  width: 20px;
  height: 20px;
  background-position: -5px -365px;
}

.sprite-lang-qa {
  width: 20px;
  height: 20px;
  background-position: -35px -365px;
}

.sprite-lang-re {
  width: 20px;
  height: 20px;
  background-position: -65px -365px;
}

.sprite-lang-ro {
  width: 20px;
  height: 20px;
  background-position: -95px -365px;
}

.sprite-lang-rs {
  width: 20px;
  height: 20px;
  background-position: -125px -365px;
}

.sprite-lang-ru {
  width: 20px;
  height: 20px;
  background-position: -155px -365px;
}

.sprite-lang-rw {
  width: 20px;
  height: 20px;
  background-position: -185px -365px;
}

.sprite-lang-sa {
  width: 20px;
  height: 20px;
  background-position: -215px -365px;
}

.sprite-lang-sb {
  width: 20px;
  height: 20px;
  background-position: -245px -365px;
}

.sprite-lang-sc {
  width: 20px;
  height: 20px;
  background-position: -275px -365px;
}

.sprite-lang-sd {
  width: 20px;
  height: 20px;
  background-position: -305px -365px;
}

.sprite-lang-se {
  width: 20px;
  height: 20px;
  background-position: -335px -365px;
}

.sprite-lang-sg {
  width: 20px;
  height: 20px;
  background-position: -365px -365px;
}

.sprite-lang-sh {
  width: 20px;
  height: 20px;
  background-position: -395px -365px;
}

.sprite-lang-si {
  width: 20px;
  height: 20px;
  background-position: -425px -365px;
}

.sprite-lang-sj {
  width: 20px;
  height: 20px;
  background-position: -5px -395px;
}

.sprite-lang-sk {
  width: 20px;
  height: 20px;
  background-position: -35px -395px;
}

.sprite-lang-sl {
  width: 20px;
  height: 20px;
  background-position: -65px -395px;
}

.sprite-lang-sm {
  width: 20px;
  height: 20px;
  background-position: -95px -395px;
}

.sprite-lang-sn {
  width: 20px;
  height: 20px;
  background-position: -125px -395px;
}

.sprite-lang-so {
  width: 20px;
  height: 20px;
  background-position: -155px -395px;
}

.sprite-lang-sr {
  width: 20px;
  height: 20px;
  background-position: -185px -395px;
}

.sprite-lang-st {
  width: 20px;
  height: 20px;
  background-position: -215px -395px;
}

.sprite-lang-sv {
  width: 20px;
  height: 20px;
  background-position: -245px -395px;
}

.sprite-lang-sy {
  width: 20px;
  height: 20px;
  background-position: -275px -395px;
}

.sprite-lang-sz {
  width: 20px;
  height: 20px;
  background-position: -305px -395px;
}

.sprite-lang-tc {
  width: 20px;
  height: 20px;
  background-position: -335px -395px;
}

.sprite-lang-td {
  width: 20px;
  height: 20px;
  background-position: -365px -395px;
}

.sprite-lang-tf {
  width: 20px;
  height: 20px;
  background-position: -395px -395px;
}

.sprite-lang-tg {
  width: 20px;
  height: 20px;
  background-position: -425px -395px;
}

.sprite-lang-th {
  width: 20px;
  height: 20px;
  background-position: -5px -425px;
}

.sprite-lang-tj {
  width: 20px;
  height: 20px;
  background-position: -35px -425px;
}

.sprite-lang-tk {
  width: 20px;
  height: 20px;
  background-position: -65px -425px;
}

.sprite-lang-tl {
  width: 20px;
  height: 20px;
  background-position: -95px -425px;
}

.sprite-lang-tm {
  width: 20px;
  height: 20px;
  background-position: -125px -425px;
}

.sprite-lang-tn {
  width: 20px;
  height: 20px;
  background-position: -155px -425px;
}

.sprite-lang-to {
  width: 20px;
  height: 20px;
  background-position: -185px -425px;
}

.sprite-lang-tr {
  width: 20px;
  height: 20px;
  background-position: -215px -425px;
}

.sprite-lang-tt {
  width: 20px;
  height: 20px;
  background-position: -245px -425px;
}

.sprite-lang-tv {
  width: 20px;
  height: 20px;
  background-position: -275px -425px;
}

.sprite-lang-tw {
  width: 20px;
  height: 20px;
  background-position: -305px -425px;
}

.sprite-lang-tz {
  width: 20px;
  height: 20px;
  background-position: -335px -425px;
}

.sprite-lang-ua {
  width: 20px;
  height: 20px;
  background-position: -365px -425px;
}

.sprite-lang-ug {
  width: 20px;
  height: 20px;
  background-position: -395px -425px;
}

.sprite-lang-um {
  width: 20px;
  height: 20px;
  background-position: -425px -425px;
}

.sprite-lang-us {
  width: 20px;
  height: 20px;
  background-position: -455px -5px;
}

.sprite-lang-uy {
  width: 20px;
  height: 20px;
  background-position: -455px -35px;
}

.sprite-lang-uz {
  width: 20px;
  height: 20px;
  background-position: -455px -65px;
}

.sprite-lang-va {
  width: 20px;
  height: 20px;
  background-position: -455px -95px;
}

.sprite-lang-vc {
  width: 20px;
  height: 20px;
  background-position: -455px -125px;
}

.sprite-lang-ve {
  width: 20px;
  height: 20px;
  background-position: -455px -155px;
}

.sprite-lang-vg {
  width: 20px;
  height: 20px;
  background-position: -455px -185px;
}

.sprite-lang-vi {
  width: 20px;
  height: 20px;
  background-position: -455px -215px;
}

.sprite-lang-vn {
  width: 20px;
  height: 20px;
  background-position: -455px -245px;
}

.sprite-lang-vu {
  width: 20px;
  height: 20px;
  background-position: -455px -275px;
}

.sprite-lang-wf {
  width: 20px;
  height: 20px;
  background-position: -455px -305px;
}

.sprite-lang-ws {
  width: 20px;
  height: 20px;
  background-position: -455px -335px;
}

.sprite-lang-ye {
  width: 20px;
  height: 20px;
  background-position: -455px -365px;
}

.sprite-lang-yt {
  width: 20px;
  height: 20px;
  background-position: -455px -395px;
}

.sprite-lang-za {
  width: 20px;
  height: 20px;
  background-position: -455px -425px;
}

.sprite-lang-zm {
  width: 20px;
  height: 20px;
  background-position: -5px -455px;
}

.sprite-lang-zw {
  width: 20px;
  height: 20px;
  background-position: -35px -455px;
}

.sprite-lang-w {
  background-image: url('../../base/images/flags/world.png') !important;
  width: 20px;
  height: 20px;
}
