@media screen and (max-width: 620px) {
  /***** TABLES *****/
  table.table-results-detailed,
  table.table-results-detailed thead,
  table.table-results-detailed tbody,
  table.table-results-detailed tfoot,
  table.table-results-detailed th,
  table.table-results-detailed td,
  table.table-results-detailed tr {
    display: block;
  }
  table.table-results-detailed thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table.table-results-detailed thead tr th:first-of-type,
  table.table-results-detailed tbody tr td:first-of-type {
    padding-top: 13px;
  }
  table.table-results-detailed thead tr th:last-of-type,
  table.table-results-detailed tbody tr td:last-of-type {
    padding-bottom: 13px;
  }

  table.table-results-detailed thead tr th,
  table.table-results-detailed tbody tr td,
  table.table-results-detailed tfoot tr td {
    padding: 0px;
    height: auto;
    text-align: left;
    font-weight: normal;
  }

  table.table-results-detailed td.table-results-detailed-jackpot {
    font-size: inherit;
  }

  table.table-results,
  table.table-info {
    margin: 20px 0;
  }
  table.table-results-detailed tbody tr td:first-of-type {
    padding: 10px 0 0;
    font-weight: 600;
  }
  table.table-results-detailed tbody tr:first-of-type td:first-of-type {
    padding-top: 0;
  }
  table.table-results-detailed tfoot tr td:first-of-type {
    padding-top: 10px;
    padding-left: 0;
    font-weight: 600;
  }

  table.table-results-detailed .ticket-line-number,
  table.table-results-detailed .ticket-line-bnumber {
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 18px;
    font-size: 0.75em;
    margin: 0;
  }

  /***** MOBILE *****/
  table.table-results-detailed .mobile-hide {
    display: none;
  }
  table.table-results-detailed .mobile-only-label {
    display: inline-block;
  }
  table.table-results-detailed .mobile-unbold {
    font-weight: normal;
  }
  .results-mobile-show {
    display: block;
  }

  /**** RESULTS ****/
  .results-short-line {
    width: 100%;
    clear: both;
  }

  .results-short-jackpot {
    line-height: 30px;
    margin-top: 5px;
  }

  /**** DIALOGS *****/
  #dialog {
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  // keno results
  .results-detailed-multiplier-wrapper label {
    padding-left: 0;
  }
}
