@media screen and (max-width: 800px) {
  /***** MAIN ****/
  p {
    margin: 20px 0;
  }

  /**** CONTACT FORM ****/

  .contact-form-content {
    width: 100%;
    float: none;
    padding: 0;
  }
  .contact-content {
    width: 100%;
    float: none;
    padding: 0;
  }
  .wpcf7-form {
    padding-top: 0;
  }

  /***** COUNTER ****/
  .digit-bottom,
  .digit-next-bottom,
  .digit-next-up {
    display: none !important;
  }
  .digit {
    clip: auto;
    display: inline;
    float: none;
    position: static;
    width: auto;
    height: auto;
    font-size: 1.125em;
    font-weight: normal;
    margin: 0;
    line-height: 22px;
  }
  .digit-anim {
    display: inline;
    float: none;
    margin: 0;
  }
  .digit-group {
    display: inline;
    float: none;
    margin: 0;
  }
  .digit-group-label {
    display: inline;
    font-size: 1.125em;
  }

  /***** LIST *****/

  .widget-list-ticket {
    width: calc(50% - 10px);
  }

  /* grid */

  /* type 2 */
  .widget-list-type2 .widget-list-carousel {
    height: 312px;
  }
  /* view 1 */
  .widget-list-display1.widget-list-type1 .widget-list-carousel {
    height: 318px;
  }

  .widget-list-display1 .widget-list-grid .widget-list-ticket:nth-of-type(5n) {
    margin-right: 10px;
  }

  .widget-list-display1
    .widget-list-grid
    .widget-list-ticket:nth-of-type(5n + 1) {
    margin-left: 10px;
  }

  .widget-list-display1 .widget-list-grid .widget-list-ticket:nth-of-type(4n) {
    margin-right: 10px;
  }

  .widget-list-display1
    .widget-list-grid
    .widget-list-ticket:nth-of-type(4n + 1) {
    margin-left: 10px;
  }

  .widget-list-display1 .widget-list-grid .widget-list-ticket:nth-of-type(3n) {
    margin-right: 10px;
  }

  .widget-list-display1
    .widget-list-grid
    .widget-list-ticket:nth-of-type(3n + 1) {
    margin-left: 10px;
  }

  .widget-list-display1 .widget-list-grid .widget-list-ticket:nth-of-type(2n),
  .widget-list-display1 .widget-list-grid .widget-list-ticket-last {
    margin-right: 0;
  }

  .widget-list-display1
    .widget-list-grid
    .widget-list-ticket:nth-of-type(2n + 1) {
    margin-left: 0;
  }

  /* view 2 */
  .widget-list-display2 .widget-list-ticket {
    width: 100%;
  }
  .widget-list-display2 .widget-list-carousel {
    overflow: visible;
    white-space: normal;
    height: auto;
  }
  .widget-list-display2 .widget-list-carousel .widget-list-ticket:first-of-type,
  .widget-list-display2 .widget-list-carousel .widget-list-ticket,
  .widget-list-display2 .widget-list-carousel .widget-list-ticket:last-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  .widget-list-display2 .widget-list-ticket {
    margin-left: 0;
    margin-right: 0;
  }

  .widget-list-display2 .widget-list-grid .widget-list-ticket {
    margin-left: 0;
    margin-right: 0;
  }

  .widget-list-display2 .widget-list-grid .widget-list-ticket-last,
  .widget-list-display2 .widget-list-grid .widget-list-ticket:nth-of-type(3n),
  .widget-list-display2
    .widget-list-grid
    .widget-list-ticket:nth-of-type(3n + 1) {
    margin-left: 0;
    margin-right: 0;
  }
  .widget-list-display2.widget-list-type2 .widget-list-carousel {
    height: auto;
  }
  .widget-list-display2 .widget-list-carousel ul {
    position: static;
    text-align: center;
  }
  .widget-list-display2 .widget-list-carousel .mobile-only {
    display: block;
  }

  .widget-list-display2 .widget-list-carousel .widget-list-ticket {
    margin-bottom: 20px;
  }

  /* common */

  .widget-list-display2 .widget-list-grid .widget-list-ticket-last,
  .widget-list-display2 .widget-list-grid .widget-list-ticket:nth-of-type(3n),
  .widget-list-display2
    .widget-list-grid
    .widget-list-ticket:nth-of-type(3n + 1) {
    margin: 10px 0;
  }

  /****** FAQ *******/
  section.faq h2 {
    margin: 25px 0;
  }
  section.faq h3 {
    font-size: 1.125em;
  }
  section.faq nav.faq-nav {
    width: 100%;
    float: none;
  }
  section.faq nav.faq-nav .mobile-only label {
    display: none;
  }
  section.faq article.faq-content {
    width: 100%;
    float: none;
    margin-top: 25px;
    padding: 0;
  }
  section.faq .mobile-only {
    display: block;
  }
  section.faq nav.faq-nav ol {
    display: none;
  }
  section.faq {
    margin: 30px 0 25px;
  }

  /**** ARTICLES/POSTS *****/
  article.page h1,
  article.post h1 {
    font-size: 1.875em;
    margin-top: 25px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  article.post .wp-post-image {
    max-width: 100%;
    margin-top: 20px;
  }

  article.page-not-found p:last-of-type {
    margin-bottom: 50px;
  }
  article.page p:last-of-type {
    margin-bottom: 25px;
  }
  article.page h1.play-lottery {
    margin-bottom: 4px;
  }

  h1.news-title {
    font-size: 2.4em;
    margin: 5px 0;
  }

  /**** LATEST NEWS ******/
  section.latest-news .news-container {
    width: 100%;
  }
  section.latest-news .grid-sizer {
    width: 100%;
  }
  section.latest-news .gutter-sizer {
    width: 0%;
  }

  section.latest-news.latest-news-columns-2 .news-container {
    width: 100%;
  }
  section.latest-news.latest-news-columns-2 .grid-sizer {
    width: 100%;
  }
  section.latest-news.latest-news-columns-2 .gutter-sizer {
    width: 0px;
  }

  section.latest-news article.news img {
    width: 40%;
    max-width: 495px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 40%;
  }

  /***** ORDER ******/
  .order-buttons .pull-left,
  .order-buttons .pull-right {
    float: none;
    text-align: center;
  }
  .order-sum {
    display: block;
    margin: 15px 0;
  }

  .btn-order {
    margin-left: 0px;
  }

  .order-buttons {
    margin: 25px 0;
  }

  /**** PAYMENTS ****/
  .payment-nav {
    display: none;
  }
  .payment-content {
    width: 100%;
    margin-left: 0;
  }

  #paymentTypeMobile {
    display: block;
  }

  .deposit-amount.platform-form input[type='text'] {
    width: 50%;
  }

  .payment-form .payment-mobile-label {
    display: block;
  }
  /***** MY ACCOUNT ****/
  .tickets-line-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .myaccount-details-image {
    width: 100%;
    float: none;
  }

  .myaccount-details-image img {
    width: 60px;
  }

  .myaccount-tickets-match-data {
    display: block;
    margin: 5px 0 15px;
  }
  .tickets-lines strong:first-of-type {
    margin-left: 0;
  }
  .ticket-prize {
    font-size: 1.5em;
    margin: 15px 0;
  }
  .tickets-lines br {
    display: none;
  }
  .myaccount-balance {
    line-height: 15px;
    font-size: 1.25em;
    margin-bottom: 20px;
  }
  .myaccount-balance.pull-left {
    float: none;
  }

  .myaccount-transactions-label:first-of-type {
    margin-top: 15px;
  }

  /***** REFER A FRIEND ****/
  .platform-form .refer-to-friend-link-wrapper {
    width: 100%;
    margin-right: 0;
  }

  .copy-to-clipboard-wrapper {
    width: 100%;
  }

  .statistics-wrapper .statistic {
    width: 100%;
    margin: 0;

    &:last-of-type {
      width: 100%;
    }
  }

  /***** ALERTS ****/
  .myaccount-details > .platform-alert {
    margin: 25px 0;
  }

  hr.separator.prize-separator {
    margin: 15px 0;
  }

  /***** TABLES ****/

  table.table-payment {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  table.table-order {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .results-content,
  .info-content {
    margin: 25px 0;
  }

  /***** RESULTS ****/
  .results-short-content {
    margin: 30px 0;
  }
  .results-detailed-content {
    margin: 30px 0 35px;
  }
  .results-short-content nav.pull-right,
  .results-short-content div.pull-left {
    float: none;
  }
  .results-short-line {
    margin: 20px 0 10px;
  }

  /***** LOTTERY NEXT DRAW ****/
  .widget-draw-content {
    margin: 25px 0;
  }

  /***** MOBILE ****/
  table.table-short .mobile-only-label {
    font-size: 1.25em;
  }

  footer nav#footer-nav div.mobile-only {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  /**** FOOTER ****/
  footer {
    margin-bottom: 20px;
  }
  footer p {
    line-height: 18px;
    font-size: 1.1em;
    margin: 15px 0;
  }
  footer nav#footer-nav {
    float: none;
  }
  footer nav#social-nav {
    float: none;
  }
  footer nav#footer-nav div > ul,
  footer nav#social-nav div > ul {
    display: block;
  }
  footer nav#social-nav div > ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
  footer nav#footer-nav div > ul > li,
  footer nav#social-nav div > ul > li {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  footer nav#footer-nav div a,
  footer nav#social-nav div a {
    padding: 0;
  }

  footer div.main-width {
    margin: 0px;
    padding: 0px 15px;
  }

  .mobile-language-area {
    display: block;
    margin: 10px 0;
  }

  .mobile-language-mt {
    margin-top: 20px;
  }

  footer div.lang-select {
    display: none;
  }

  footer .powered-by {
    display: none;
  }

  footer .mobile-powered-by-box {
    display: block;
    text-align: center;
  }

  footer .mobile-powered-by {
    display: inline-block;
    background: #e5ebef;
    border-radius: 3px;
    padding: 6px 20px;
    margin-left: 2px;
    min-height: 40px;
    box-sizing: border-box;
    text-align: left;
  }

  footer .mobile-powered-by a {
    color: inherit;
    font-weight: 400;
  }

  footer .mobile-powered-by a:hover {
    color: inherit;
    text-decoration: none;
  }

  footer .mobile-powered-by p {
    margin: 0;
    font-size: 9px;
    line-height: 10px;
  }

  footer .mobile-powered-by img {
    display: block;
  }
  // multidraws

  .myaccount-tickets-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    a {
      &.myaccount-tickets-menu-item {
        flex: 1;
        padding: 10px 12px;
        font-size: 13px;
        text-align: center;
      }
    }
  }

  table.table-transactions span.fa-search,
  table.table-transactions span.fa-refresh {
    font-size: 1.75em;
  }

  /** PROMO CODES **/
  .form-promo-code input[type='text'] {
    width: 80%;
  }

  .promo-info-circle .tooltip-cloud {
    white-space: normal;
    width: calc(70vw);
    max-width: 300px;
    min-width: 100px;
    left: -20px !important;
  }

  .order-promo-code .promo-info {
    text-align: center;
  }

  //ticket card
  .ticket-card {
    .ticket-card-logo img {
      width: 80px;
    }
  }

  // raffle results
  .results-short-content.results-short-content-raffle {
    margin-top: 0;
  }
  .results-short-content .results-short-select-wrapper {
    float: left;
    select.results-short-select {
      margin: 5px 0 15px;
    }
  }
  .results-short-content .raffle-winning-ticket {
    margin-bottom: 10px;
    float: left !important;
    width: 100%;
  }
  .results-short-jackpot.results-short-jackpot-raffle {
    margin-bottom: 0;
  }

  /** PLAY PAGE **/
  #number-selector {
    width: 90%;
  }

  .widget-ticket-entity.widget-ticket-entity-horizontal {
    .widget-ticket-numbers {
      .widget-ball {
        margin: 5px 6px 0 0;
      }
    }
  }

  //keno results
  .results-short-content-keno {
    nav {
      margin-left: 0;
    }

    .results-short-line {
      line-height: 30px;
    }
  }
}
