/** GENERICS CONSTRAINED **/
@media screen and (min-width: 1221px) {
  .ml-50-1221-gt {
    margin-left: 50%;
  }

  .w-50-1221-gt {
    width: 50%;
  }

  .ml-50-important-1221-gt {
    margin-left: 50% !important;
  }

  .w-50-important-1221-gt {
    width: 50% !important;
  }
}
