@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 25px;
    margin: 20px 0;
  }
  h2 {
    font-size: 1em;
    font-weight: bold;
    line-height: 24px;
    margin: 15px 0;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 24px;
    margin: 15px 0;
  }
}
