/*
    Theme Name:     lottoXworld Theme
    Description:    lottoXworld whitelabel theme.
    Author:         WhiteLotto
    Text Domain:    lottoxworld-theme
    Template:       base
    Version:        1.0.0
*/