//
//    RedFoxLotto theme
//

$trans: transparent; // - //

$white: #ffffff; // White //

$grey: #433d33; // Grey almost black //

$grey2: #eaeaea; // Grey //
$grey3: #747474; // Grey //
$grey4: #606060; // Grey //
$grey5: #f4f4f4; // Grey //
$grey6: #595e63; // Grey //
$grey7: #cccccc; // Grey //
$grey8: #e5e5e5; // Grey //
$grey9: #48374b; // Grey //
$grey10: #5c4d5f; // Grey //

$grey11: #3b3b3b; // Grey //

$greyAlmostWhite: #f1f1f1; // Grey almost white //
$greyAlmostWhite2: #f4f8f9; // Grey almost white //
$greyAlmostWhite3: #f9f9f9; // Grey almost white //
$greyAlmostWhite4: #e0e0e0; // Grey almost white //
$greyAlmostWhite5: #efefef; // Grey almost white //
$greyLighter: #8e918c; // Grey lighter //
$greyLighter2: #f2f2f2; // Grey lighter //
$greyLighter3: #e5ecef; // Grey lighter //

//$greyLighter4: #8a8a8a; // Grey lighter //
$greyLighter4: #77746f; // Grey lighter //

$greyLight: #bbbbbb; // Light grey //
$greyLight2: #d3d3d3; // Grey light //
$greyLight3: #c7c7c7; // Grey light //
$greyDarker: #494949; // Grey darker //
$greyDarker2: #484848; // Grey darker //
$greyDark: #292d38; // Grey dark //
$greyDark2: #1a1d1a; // Grey dark //
$greyDark3: #555555; // Grey dark //
$greyDark4: #303030; // Grey dark //
$greyDark5: #474747; // Grey dark //
$greyDark6: #454545; // Grey dark //

$green: #65be3e; // Green //
$green2: #5bb326; // Green //

$greenLight: #53b54e; // Green light //
$greenLight2: #36ac39; // Green light //
$greenDarker: #3aaf37; // Green darker //
$greenDarker2: #63bd41; // Green darker //

$greenDark: #41934c; // Green dark //
$greenDark2: #398844; // Green dark //
$greenDark3: #2fa12c; // Green dark //
$greenDark4: #065e0f; // Green dark //
$greenDark5: #54b136; // Green dark //
$greenDark6: #2d6d16; // Green dark //
$greenDark7: #01a371; // Green dark //

$violet: #c53f93; // Violet //
$violetLighter2: #a83387; // Violet Lighter //
$violetLighter3: #ad1d6d; // Violet Lighter //
$violetDarker: #8e2ca1; // Violet darker //
$violetDarker2: #7f2193; // Violet darker //
$violetDarker3: #581168; // Violet darker //
$violetDark: #332037; // Violet dark //

$blue: #4b9dc8; // Blue //
$blue2: #3f78bc; // Blue //
$blueDarker: #3e8ebd; // Blue Darker //

$orange: #ff5812; // Orange //
$orange2: #f17524; // Orange //
$orangeDark: #9b6301; // Orange dark //
$orangeDarker: #ff490e; // Orange a bit darker //
$orangeDarker2: #f2b020; // Orange a bit darker //
$orangeDarker3: #f5bc29; // Orange darker //
$orangeDarker4: #ea5514; // Orange darker //

$orangeLight: #ffba00; // Orange light //

$yellow: #f6bd22; // Yellow //
$yellow2: #f4bc29; // Yellow //
$yellow3: #f2b524; // Yellow //
$yellow4: #f69823; // Yellow //
$yellow5: #f9b339; // Yellow //

$greyVeryDark: #191919; // Almost black //
$greyVeryDark2: #232323; // Almost black //

$redLight: #ec4215; // Red light //
$redLight2: #eb4116; // Red light //

$redDarker: #e63511; // Red darker //
