<div class="promoCode">
    <div class="promoCodeInputGroup">
        <label>
            <input type="text" class="promoCodeInput" placeholder="{{ 'Enter promo code' | trans }}" />
        </label>
        <button type="button" disabled>{{ 'Apply' | trans }}</button>
    </div>
</div>
