$font-main: 'Varela Round', sans-serif;

$color-font-h: #383f56;
$color-font-dark: #7991b1;
$color-font-darker: #495c76;
$color-font-light: #a3bbde;

$color-blue-dark: #264e86;
$color-blue-light: #0bb3e4;
$color-blue-light-hover: #0fa9d6;
// $color-yellow: #feb100;

$color-bg: #f2f6f9;
$color-bg-dark: #e6eef4;
$color-border: #c2cfd9;
$color-border-dark: #637ea7;
$color-border-light: #e6eef4;

// whatsup
$color-whatsupp: #25d366;
$color-whatsupp-dark: #07910c;
