//
//    LottoHoy theme
//

$trans: transparent; // - //

$white: #ffffff; // White //

$grey: #424242; // Grey almost black //
$grey2: #eaeaea; // Grey //
$grey3: #747474; // Grey //
$grey4: #606060; // Grey //
$grey5: #f4f4f4; // Grey //
$grey6: #595e63; // Grey //
$grey7: #cccccc; // Grey //
$grey8: #e5e5e5; // Grey //
$greyAlmostWhite: #f1f1f1; // Grey almost white //
$greyAlmostWhite2: #f4f8f9; // Grey almost white //
$greyAlmostWhite3: #f9f9f9; // Grey almost white //
$greyAlmostWhite4: #e0e0e0; // Grey almost white //
$greyAlmostWhite5: #efefef; // Grey almost white //
$greyLighter: #8e918c; // Grey lighter //
$greyLighter2: #f2f2f2; // Grey lighter //
$greyLight: #bbbbbb; // Light grey //
$greyLight2: #d3d3d3; // Grey light //
$greyDarker: #494949; // Grey darker //
$greyDarker2: #484848; // Grey darker //
$greyDark: #292d38; // Grey dark //
$greyDark2: #1a1d1a; // Grey dark //
$greyDark3: #555555; // Grey dark //

$green: #67bd2e; // Green //
$green2: #5bb326; // Green //
$greenLight: #53b54e; // Green light //
$greenLight2: #36ac39; // Green light //
$greenDarker: #3aaf37; // Green darker //
$greenDark: #41934c; // Green dark //
$greenDark2: #398844; // Green dark //
$greenDark3: #2fa12c; // Green dark //
$greenDark4: #065e0f; // Green dark //

$violet: #9d37af; // Violet //
$violetDarker: #8e2ca1; // Violet darker //
$violetDarker2: #7f2193; // Violet darker //

$blue: #3f78bc; // Blue //

$orange: #fe7104; // Orange //
$orangeDarker: #fe6803; // Orange a bit darker //

$redLight: #f44336; // Light red //
