//
//    Color variables
//

$trans: transparent; // - //

$white: #ffffff; // White //
$black: #000000; // Black //

$grey: #424242; // Grey almost black //
$grey2: #eaeaea; // Grey //
$grey3: #747474; // Grey //
$grey4: #606060; // Grey //
$grey5: #f4f4f4; // Grey //
$grey6: #595e63; // Grey //
$grey7: #cccccc; // Grey //
$grey8: #e5e5e5; // Grey //
$grey9: #48374b; // Grey //
$grey10: #5c4d5f; // Grey //
$greyText1: #bebebe; // Grey //
$greyAlmostWhite: #f1f1f1; // Grey almost white //
$greyAlmostWhite2: #f4f8f9; // Grey almost white //
$greyAlmostWhite3: #f9f9f9; // Grey almost white //
$greyAlmostWhite4: #e0e0e0; // Grey almost white //
$greyAlmostWhite5: #efefef; // Grey almost white //
$greyLighter: #8e918c; // Grey lighter //
$greyLighter2: #f2f2f2; // Grey lighter //
$greyLighter3: #e5ecef; // Grey lighter //
$greyLighter4: #8a8a8a; // Grey lighter //
$greyLight: #bbbbbb; // Light grey //
$greyLight2: #d3d3d3; // Grey light //
$greyLight3: #c7c7c7; // Grey light //
$greyDarker: #494949; // Grey darker //
$greyDarker2: #484848; // Grey darker //
$greyDark: #292d38; // Grey dark //
$greyDark2: #1a1d1a; // Grey dark //
$greyDark3: #555555; // Grey dark //
$greyDark4: #303030; // Grey dark //
$greyDark5: #474747; // Grey dark //
$greyDark6: #454545; // Grey dark //
$greyDark7: #161616; // Grey dark //
$greyVeryDark: #191919; // Almost black //
$greyVeryDark2: #232323; // Almost black //

$pageBg: #e9e9e9;
$greyBg: $pageBg;

$redLight: #f44336; // Light red //

$blue: #1db4ed;
$blueDarker: #15a4e8;
$green: #67bd2e;
$greenDarker: #5bb326;
