<div class="content-area">
	<div class="main-width content-width">
		<div class="content-box content-box-top">
			<section class="page-content">
				<article class="page">
					<h1>{{title}}</h1>
					{{mainContent | raw}}
				</article>
			</section>
		</div>
		<div class="content-box content-box-bottom">
			<section class="contact-content">
				<article class="page">
					{{companyDetails | raw}}
				</article>
			</section>
			{{contactForm | raw}}
			<div class="clearfix"></div>
		</div>
	</div>
</div>
