/*
    Theme Name:     MegaJackpotPH Theme
    Description:    MegaJackpotPH whitelabel theme.
    Author:         WhiteLotto
    Text Domain:	megajackpotph-theme
    Template:		base
    Version:        1.0.0
*/
