@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url(/wp-content/themes/base/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(/wp-content/themes/base/fonts/SourceSansPro-Bold.ttf) format("truetype");
}

.widget-2 {
  width: 100%;
  height: 240px;
  max-width: 600px;
  border-radius: 5px;
}

.widget-2 .widget-top-title {
  width: 120px;
  border-top: 1px solid #dae0e3;
  border-left: 1px solid #dae0e3;
  border-right: 1px solid #dae0e3;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  height: 16px;
  display: table;
}

.widget-2 .widget-top-title img {
  max-width: 80%;
}

.widget-2 .widget-content {
  border: 1px solid #dae0e3;
  border-radius: 5px;
}

.widget-2 .widget-ball {
  padding: 21px 15px 8px;
  text-align: left;
}

.widget-2 .widget-ball img {
  width: 100px;
}

.widget-2 .widget-lottery-name {
  color: #384656;
  font-size: 22px;
  text-align: left;
  font-family: SourceSansPro-Bold;
  margin-top: 10px;
  margin-left: 5px;
}

.widget-2 .widget-lottery-time {
  margin-top: 10px;
  color: #87979c;
  font-size: 16px;
  font-family: SourceSansPro-SemiBold;
  text-align: left;
  margin-left: 5px;
}

.widget-2 .draw-results {
  text-align: left;
  display: table;
  margin: 10px 0 12px;
  border-spacing: 3px;
}

.widget-2 .ball {
  width: 32px;
  height: 32px;
  text-align: center;
  font-family: SourceSansPro-Bold;
  display: table-cell;
  vertical-align: middle;
  font-size: 15px;
}

.widget-2 .green-ball {
  background: url(/wp-content/themes/base/images/widgets/ball-green.png);
  background-size: 100% 100%;
  color: #ffffff;
}

.widget-2 .white-ball {
  background: url(/wp-content/themes/base/images/widgets/ball-white.png);
  background-size: 100% 100%;
  color: #384656;
}

.widget-2 .widget-nearest-jackpot {
  color: #87979c;
  font-size: 15px;
  text-align: left;
  margin-top: 2px;
  margin-left: 15px;
  font-family: SourceSansPro-Bold;
}

.widget-2 .widget-jackpot {
  color: #b849a9;
  font-family: SourceSansPro-Bold;
  text-align: left;
  font-size: 25px;
  margin-top: 1px;
  margin-left: 15px;
}

.widget-2 .widget-play-now {
  display: table;
  float: right;
  background: #67bd2e;
  width: 115px;
  padding: 11px 0;
  text-align: center;
  color: #FFF;
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px 15px;
}

.widget-2 .widget-left {
  float: left;
  width: 28%;
  text-align: center;
}

.widget-2 .widget-right {
  float: right;
  width: 69%;
}

.widget-2 .widget-bottom {
  display: table;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #dae0e3;
}

.widget-2 .calendar-icon {
  background: url(/wp-content/themes/base/images/widgets/small-calendar.png);
  width: 18px;
  height: 18px;
  display: inline-table;
  background-size: 100% 100%;
  margin-top: 2px;
  float: left;
  margin-right: 8px;
}

.widget-2 .align-right {
  margin-right: 10px;
  display: table;
  float: right;
}
