@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url(/wp-content/themes/base/fonts/SourceSansPro-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(/wp-content/themes/base/fonts/SourceSansPro-Bold.ttf) format("truetype");
}

.widget-7 {
  width: 100%;
  height: 390px;
}

.widget-7 .widget-top-title {
  width: 120px;
  border-top: 1px solid #dae0e3;
  border-left: 1px solid #dae0e3;
  border-right: 1px solid #dae0e3;
  border-radius: 5px;
  text-align: center;
  padding: 3px 0 5px 0;
  height: 16px;
  display: table;
}

.widget-7 .widget-top-title img {
  max-width: 80%;
}

.widget-7 .widget-content {
  border: 1px solid #dae0e3;
  border-radius: 5px;
}

.widget-7 .widget-ball {
  padding: 18px 0 8px;
  text-align: center;
}

.widget-7 .widget-ball img {
  width: 80px;
}

.widget-7 .widget-lottery-name {
  color: #384656;
  font-size: 22px;
  text-align: center;
  font-family: SourceSansPro-Bold;
}

.widget-7 .widget-lottery-time {
  margin-top: 15px;
  color: #87979c;
  font-size: 16px;
  font-family: SourceSansPro-SemiBold;
  text-align: center;
}

.widget-7 .draw-results {
  margin-top: 35px;
  text-align: center;
  display: table;
  margin: 5px auto 12px;
  border-spacing: 3px;
}

.widget-7 .ball {
  width: 26px;
  height: 26px;
  text-align: center;
  font-family: SourceSansPro-SemiBold;
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
}

.widget-7 .green-ball {
  background: url(/wp-content/themes/base/images/widgets/ball-green.png);
  background-size: 100% 100%;
  color: #ffffff;
}

.widget-7 .white-ball {
  background: url(/wp-content/themes/base/images/widgets/ball-white.png);
  background-size: 100% 100%;
  color: #384656;
}

.widget-7 .widget-nearest-jackpot {
  border-top: 1px solid #dae0e3;
  width: 100%;
  color: #87979c;
  font-size: 15px;
  text-align: center;
  padding-top: 12px;
  font-family: SourceSansPro-Bold;
}

.widget-7 .widget-jackpot {
  color: #b849a9;
  font-family: SourceSansPro-Bold;
  text-align: center;
  font-size: 25px;
  margin-top: 1px;
  margin-bottom: 10px;
}

.widget-7 .widget-play-now {
  display: table;
  background: #67bd2e;
  width: 115px;
  padding: 13px 0 15px;
  text-align: center;
  margin: 15px auto 0;
  color: #FFF;
  font-family: SourceSansPro-Bold;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
}

.widget-7 .widget-time-left-title {
  color: #87979c;
  font-size: 15px;
  text-align: center;
  margin-top: 16px;
  margin-left: 15px;
  font-family: SourceSansPro-Bold;
  border-top: 1px solid #dae0e3;
  padding-top: 12px;
}

.widget-7 .widget-time-left {
  color: #87979c;
  font-family: SourceSansPro-SemiBold;
  text-align: center;
  font-size: 14px;
  display: table;
  margin: 1px auto;
}

.widget-7 .widget-bottom {
  padding-bottom: 10px;
}

.widget-7 .calendar-icon {
  background: url(/wp-content/themes/base/images/widgets/small-calendar.png);
  width: 18px;
  height: 18px;
  margin-top: 2px;
  display: inline-table;
  background-size: 100% 100%;
  float: left;
  margin-right: 8px;
}

.widget-7 .align-right {
  margin-right: 15px;
  display: table;
  float: right;
}
