/*
    Theme Name:     FateLotto Theme
    Description:    FateLotto whitelabel theme.
    Author:         WhiteLotto
    Text Domain:    fatelotto-theme
    Template:       base
    Version:        1.0.0
*/