.content-area {
  background: url('../../images/MiniGames/gg-world-coinflip/bg.jpg') top center no-repeat;
  background-size: cover;
}

.content-box {
  border-radius: 10px !important;
  padding: 20px !important;
}

.miniGameWindow {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;

  .gameHeader {
    border: 1px solid #d0d5df;
    border-radius: 10px;
    position: relative;
    min-height: 145px;
    text-align: center;

    &::before {
      width: calc(100% + 2px);
      height: 50%;
      background: #f4d896;
      position: absolute;
      left: -1px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      top: -1px;
      content: '';
    }

    .gameHeaderBall {
      position: relative;
      width: 100px;
      top: -11px;
      margin: 0 auto;

      img {
        width: 100px;
      }
    }

    h3 {
      font-size: 24px;
      color: #434b65;
      font-weight: bold;
      margin: 0;
      position: relative;
      top: -9px;
    }
  }

  .gameMain {
    width: 100%;
    height: 213px;
    transition: .2s;
    position: relative;

    .gameMessage {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      background: #3A3D44;
      padding: 20px;
      border-radius: 10px;
      max-width: 250px;
      width: 100%;
      bottom: 94px;
      transition: .35s;
      text-align: center;

      i {
        margin-right: 5px;
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    @media (min-width: 800px) {
      height: 260px;
    }

    background: url('../../images/MiniGames/gg-world-coinflip/bg.jpg') 50% -95px no-repeat;
    background-size: 200%;
    @media (min-width: 800px) {
      background: url('../../images/MiniGames/gg-world-coinflip/bg.jpg') center center no-repeat;
      background-size: cover;
    }
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 20px;

    .coin {
      position: relative;
      margin: 0 auto;
      width: 150px;
      height: 150px;
      transition: all 5s ease-out;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
      cursor: pointer;

      .coinHeads,
      .coinTails {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        backface-visibility: hidden;
      }

      .coinHeads {
        background: url('../../images/MiniGames/gg-world-coinflip/sideHeads.png');
        z-index: 100;
      }

      .coinTails {
        background: url('../../images/MiniGames/gg-world-coinflip/sideTails.png');
        transform: rotateY(-180deg);
        z-index: 100;
      }
    }

    .gamePlayBtn {
      max-width: 180px;
      width: 100%;
      background: #2cc09c;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 23px 0;
      font-size: 16px;
      text-decoration: none;
      color: #fff;
      margin: -20px auto 0;
      transition: .2s;
      transform: perspective(1px) translateZ(0);

      @media (min-width: 800px) {
        margin: 20px auto 0;
      }
      &:hover {
        animation-name: hvr-buzz-out;
        animation-duration: 0.75s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
      }
    }
  }

  .gameOptions {
    background: #f0f1f4;
    border-radius: 10px;
    padding: 20px;
    transition: .2s;
    margin-top: 20px;

    @media (min-width: 800px) {
      background: transparent;
      display: flex;
      padding: 20px 0;
      margin-top: 0;
    }

    .gameOptionsFirstRow {
      @media (min-width: 800px) {
        display: flex;
        flex-direction: column;
        width: 50%;

        .gameBoxRow {
          order: 2;
          max-width: 300px;
          margin: 0 auto;
        }

        .gameOptionsSide {
          border: none;
          background: #f0f1f4;
          border-radius: 10px;
          max-width: 100%;
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          margin: 0;
        }
      }
    }

    .gameMax {
      max-width: 415px;
      width: 100%;
      margin: 0 auto;

      @media (min-width: 800px) {
        border: none;
        background: #f0f1f4;
        border-radius: 10px;
        max-width: 100% !important;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 20px !important;

        .gameStake {
          width: 100%;
          text-align: center;
        }
      }
    }

    .gameStakeTrigger {
      border: 1px solid #d0d5df;
      border-radius: 10px;
      background: #fff;
      max-width: 167px;
      width: 100%;
      padding: 26px 20px;
      margin-top: 25px;
      box-sizing: border-box;

      .fa-chevron-down {
        transition: transform .3s ease;
      }

      &.active .fa-chevron-down {
        transform: rotate(180deg);
      }

      @media (min-width: 800px) {
        max-width: 100%;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #434b65;

        span {
          margin-left: auto;
        }
      }
    }

    .gameOptionsSide {
      border-top: 1px solid #d0d5df;
      padding-top: 20px;
      max-width: 415px;
      margin: 20px auto 0;

      .gameBoxRow {
        padding: 20px 0;
        align-items: center;

        &.gameBoxSelectCoin {
          max-width: 310px;
          margin: 0 auto;

          .gameBoxCol {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .gameBoxSelectSide {
        padding: 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 134px;
        @media (max-width: 600px) {
          max-width: 120px;
        }
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        transition: .2s ease;
        color: #434b65;
        border: 2px solid transparent;
        cursor: pointer;

        &.sideHeads,
        &.sideTails {
          img {
            animation: pulse 2s infinite ease-in-out;
          }
        }


        strong {
          font-size: 24px;
          padding-top: 18px;
        }

        &.gameBoxSelected {
          border: 2px solid #434b65;
        }
      }
    }

    .gameHistory {
      padding: 20px 0 0;
      border-top: 1px solid #d0d5df;
      transition: .2s;

      @media (min-width: 800px) {
        width: 50%;
        background: #f0f1f4;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        margin-left: 20px;
        border: none;
      }

      .desktopBalanceBox {
        @media (min-width: 800px) {
          text-align: center;
          color: #434b65;

          .gameBalanceAmount,
          .gameTextSmall {
            font-size: 25px;
          }

          .gameParameters {
            margin-top: 5px;
            border-bottom: 1px solid #d0d5df;
            padding-bottom: 20px;
          }
        }
      }

      @media (min-width: 800px) {
        .gameHistoryTitle {
          padding-top: 20px;
        }
      }

      .gameHistoryList {
        color: #434b65;
        margin-top: 20px;
        padding-right: 20px;
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: .2s;

        @media (min-width: 800px) {
          max-height: 230px;
        }

        &::-webkit-scrollbar {
          width: 12px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #9599a7;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
          background-color: #fff;
          border-radius: 10px;
        }

        .gameHistoryItem {
          display: flex;
          align-items: center;
          border-radius: 10px;
          background-color: rgb(255, 255, 255);
          box-shadow: inset 0 1px 0 0 rgba(201, 208, 216, 0.75);
          padding: 8px 20px;

          img {
            width: 30px;
          }

          &.opacity {
            opacity: .6;
          }

          strong {
            font-size: 14px;
            padding-left: 16px;
          }

          span {
            margin-left: auto;
          }
        }
      }
    }

    .gameBoxRow {
      .gameBoxCol:nth-child(2) {
        text-align: right;
        color: #434b65;

        @media (min-width: 800px) {
          &.desktop {
            display: none;
          }
        }

        .gameTextSmall {
          padding-bottom: 3px;
        }
      }
    }
  }

  .gameTextSmall {
    color: #434b65;
    font-size: 16px;

    &.center {
      text-align: center;
    }
  }
}

.gameBalanceAmount {
  font-weight: bold;
  font-size: 25px;
  color: #434b65;
}

.gameParameters {
  margin-top: 33px;
}

.gameBoxRow {
  display: flex;
  width: 100%;

  .gameBoxCol {
    width: 50%;
  }
}

.gameDesktopOnly {
  display: none;
  transition: .2s;

  @media (min-width: 800px) {
    display: inline;
  }
}

.gameStakeMenu {
  position: relative;
}

.gameStakeWrapper {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: max-height 0.5s ease;
  position: absolute;
  background: white;
  border: 1px solid #d0d5df;
  border-radius: 10px;
  width: 100%;
  z-index: 1000;
  margin-top: 5px;
}

.stake-options {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0;
}

.stake-options li {
  cursor: pointer;
  color: #434b65;
  font-weight: bold;
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 1px solid #d0d5df;
  }
}

.stake-options li:hover {
  background-color: #f0f0f0;
}

.gameStakeWrapper.active  {
  max-height: 420px;
  width: 165px;
  visibility: visible;
  @media (min-width: 800px) {
    width: 100%;
  }
}

.promoCode {
  border-top: 1px solid #d0d5df;
  margin-top: 25px;

  .promoCodeInputGroup {
    position: relative;

    .promoCodeInput {
      border: 1px solid #d0d5df;
      border-radius: 10px;
      background: #fff;
      width: 100%;
      padding: 20px 105px 20px 20px;
      margin-top: 25px;
      box-sizing: border-box;
      transition: .2s ease-in-out;
      font-family: "Rubik", sans-serif !important;

      &:focus-visible {
        border: 1px solid #aaabb1;
        outline: none;
      }
    }

    button {
      position: absolute;
      background: #9599a7;
      border-radius: 10px;
      border: none;
      outline: none;
      color: #fff;
      padding: 10px 20px;
      top: 36px;
      right: 10px;
      transition: .2s ease-in-out;
      cursor: pointer;
      font-family: "Rubik", sans-serif;

      &:hover {
        filter: brightness(120%);
      }
    }
  }
}

.freeSpins {
  display: none;

  &.show {
    display: block;
  }
}

@keyframes hvr-buzz-out {
  0%, 25% {
    transform: translateX(0) rotate(0);
  }

  10% {
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    transform: translateX(1px) rotate(0);
  }

  100% {
    transform: translateX(-1px) rotate(0);
  }

  25%, 100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes shake-rotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px) rotate(-10deg);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.gli-container {
  background: #fff;
  padding: 15px 30px;
  margin-top: 20px;
}

@keyframes flipHeads {
  0% {
    transform: rotateY(0) scale(1);
  }
  25% {
    transform: rotateY(450deg) scale(1.33);
  }
  50% {
    transform: rotateY(900deg) scale(1.5);
  }
  75% {
    transform: rotateY(1350deg) scale(1.25);
  }
  100% {
    transform: rotateY(1800deg) scale(1);
  }
}

@keyframes flipTails {
  0% {
    transform: rotateY(0) scale(1);
  }
  25% {
    transform: rotateY(495deg) scale(1.33);
  }
  50% {
    transform: rotateY(990deg) scale(1.5);
  }
  75% {
    transform: rotateY(1485deg) scale(1.25);
  }
  100% {
    transform: rotateY(1980deg) scale(1);
  }
}

@media (max-width: 500px) {
  div.content-area {
    padding: 5px 0;
    margin-top: 10px !important;
  }
}

@media (max-width: 799px) {
  .selectedStakeAmount {
    font-size: 14px;
  }
}

.bonusBalance {
  color: #9599A7 !important;
}

.fromBonusBalance {
  background: #9599A7 !important;
}