// Colors
$colorful-border-color: #384656;
$border-color: #dae0e3;
$dark-text-color: #384656;
$text-color: #87979c;
$jackpot-text-color: #424242;
$price-color: #fe7104;
$button-bg-color: #67bd2e;
$button-text-color: #fff;
$normal-ball-bg-color: #41934c;
$normal-ball-text-color: #fff;
$bonus-ball-bg-color: #fe7104;
$bonus-ball-text-color: #fff;

// Fonts
$font-semi-bold: SourceSansPro-SemiBold;
$font-bold: SourceSansPro-Bold;

@font-face {
  font-family: SourceSansPro-SemiBold;
  src: url(../../../base/fonts/SourceSansPro-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: SourceSansPro-Bold;
  src: url(../../../base/fonts/SourceSansPro-Bold.ttf) format('truetype');
}
