label.platform-label {
  width: 100px;
  display: inline-block;
}

.widget-featured-toggle-language,
.widget-featured-toggle-lottery {
  display: none;
}

.widget-small-text-toggle-content {
  display: none;
}
