/*
    Theme Name:     LottoMonks Theme
    Description:    LottoMonks whitelabel theme.
    Author:         WhiteLotto
    Text Domain:    lottomonks-theme
    Template:       base
    Version:        1.0.0
*/