.form-signin,
.form-signup,
.form-lost-password {
  max-width: 332px;
  padding: 15px;
  margin: 0 auto;
}

div.aff-logo {
  margin: 2.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-signin .form-signin-heading,
.form-signup .form-signup-heading,
.form-lost-password .form-lost-password-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control,
.form-signup .form-control,
.form-lost-password .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus,
.form-signup .form-control:focus,
.form-lost-password .form-control:focus {
  z-index: 2;
}

.form-signin input[type='text'],
.form-signup .register-email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup .register-login,
.form-signup .register-password {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input[type='password'],
.form-signup .register-password-repeat {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .g-recaptcha,
.form-signup .g-recaptcha {
  margin-bottom: 5px;
}

.form-signin .form-group,
.form-signup .form-group {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3em;
}

.container-admin {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  padding: 0;
}

table .btn {
  margin: 4px;
  margin-left: 0;
}

.tooltip-inner {
  white-space: pre-wrap;
  max-width: none;
}

.form-nomargin-b {
  margin-bottom: 0;
}

.datepicker table tr td.new,
.datepicker table tr td.old,
.datepicker table tr td.new.disabled,
.datepicker table tr td.old.disabled {
  color: #ccc;
}

.btn .glyphicon {
  margin-right: 5px;
}

.btn.btn-xs .glyphicon {
  margin-right: 2px;
}

.input-daterange {
  width: auto !important;
}

.input-daterange-small {
  width: 229px !important;
}

.glyphicon-icon {
  margin-right: 5px;
}

.btn-mt {
  margin-top: 5px;
}

.btn-ml {
  margin-left: 5px;
}

.user-details {
  line-height: 25px;
}

.details-label {
  font-weight: bold;
  display: inline-block;
  width: 180px;
}

.user-details .btn-default {
  margin-left: 8px;
}

.multidraw-details {
  line-height: 25px;
  margin-top: 20px;
}

.multidraw-details .btn-default {
  margin-left: 8px;
}

.multidraw-details .details-label {
  width: 320px;
}

#generatedPassword {
  display: none;
}

.form-filter .form-group input,
.form-filter .form-group select {
  width: 117px;
}

.table-sort > thead > tr > th {
  vertical-align: middle;
  background-color: #f5f5f5;
}

.table-sort > thead > tr > th.tablesorter-headerUnSorted {
  background-image: url('../images/arrow_none.png');
  background-repeat: no-repeat;
  background-position: right 5px center;
  cursor: pointer;
}

.table-sort > thead > tr > th.tablesorter-header {
  cursor: pointer;
  transition: background-color 0.2s;
  padding-right: 20px;
}

.table-sort > thead > tr > th.tablesorter-header:hover {
  background-color: #dddddd;
}

.table-sort > thead > tr > th.tablesorter-headerAsc {
  background-image: url('../images/arrow_up.png');
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.table-sort > thead > tr > th.tablesorter-headerDesc {
  background-image: url('../images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.ticket-line-number,
.ticket-line-bnumber {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin: 1.5px;
  border: 2px solid #000;
}

.ticket-line-bnumber {
  background-color: #fff;
  color: #000;
}

.ticket-line {
  margin: 5px 0;
  display: inline-block;
  margin-right: 20px;
}

.ticket-line-number-nowin {
  opacity: 0.3;
}

.radio label,
.checkbox label {
  line-height: 22px;
}

.hidden {
  display: none;
}

.img-thumbnail {
  display: block;
  float: left;
  margin: 5px;
}

#allRegions {
  display: none;
}

.popover {
  max-width: 100%;
}

.export-view {
  margin-bottom: 5px;
}

.dashboard {
  margin: 10px 30px;
}

.nmt {
  margin-top: 0;
}

.btn.btn-xs .glyphicon.nmr {
  margin-right: 0;
}

.navbar-default .navbar-text {
  margin-right: 15px;
}

.new-filter-row {
  margin-top: 5px;
}

.generated-banner {
  text-align: center;
  margin-top: 10px;
}

#additional-widget-width {
  display: none;
}

.user-details .ticket-line .tooltip {
  opacity: 1;
  position: relative;
}

.reintegro span {
  display: block;
  position: absolute;
  right: -1px;
  font-size: 9px;
  top: -2px;
  background-color: black;
  border-radius: 100%;
  color: white;
  line-height: 14px;
  height: 14px;
  width: 14px;
}

#email_preview_content {
  margin-bottom: 15px;
}

#email_preview_content > table {
  border: 2px dashed gray;
}

.remove-sides-padding {
  padding-left: 0;
  padding-right: 0;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

select[multiple].multiple-select-bigger {
  height: 300px;
}

#form-promocodes #aff-list,
#form-promocodes #input-series,
#form-promocodes #input-discount {
  display: none;
}

#form-welcome-bonus #register-options {
  display: none;
}

.m-b-15 {
  margin-bottom: 15px;
}

.weight-normal {
  font-weight: normal;
}

.opacity-mid {
  opacity: 0.5;
}

.valign-middle {
  vertical-align: middle !important;
}

.text-break {
  word-break: break-all;
}

@import 'StyleInvoiceGenerator';
